<div class="bg-black h-[272px] w-full flex justify-center items-center">
    <div class="flex flex-col">
        <label class="cursor-auto block text-white text-3xl leading-10 font-semibold mb-8">{{ "Welcome to Planet customer resources library"|t }}</label>
        <div class="relative">
            <input
                    type="text"
                    class="search-bar__input w-full max-w-[646px] h-14 rounded-full bg-white pl-12 pr-7 py-2 text-xl font-light border-none leading-normal"
                    aria-label="{{ 'Search'|t }}"
                    placeholder="{{ 'Search for documentation'|t }}"
            >
            <div class="w-[44px] h-[44px] absolute right-2 top-1/2 -translate-y-1/2 w-5 h-5 bg-black rounded-[36px] flex justify-center items-center cursor-pointer">
                <img
                        src="/resources/icons/customer_resources_library/search-icon.png"
                        class=" h-[30px]  w-[30px]"
                        alt=""
                >
            </div>


        </div>
    </div>
</div>