.language-switcher {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  max-width: 220px;
  width: 100%;
}

.language-switcher__wrapper {
  display: flex;
  width: 100%;
}

.language-switcher__button-wrapper {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  width: 100%;
}
ul.language-switcher__dropdown-menu {
  padding: 0;
}
.language-switcher__button {
  display: flex;
  position: relative;
  padding: 1em;
  margin-right: 0;
  cursor: pointer;
  border: 1px solid rgba(238,238,238,0.3);
  border-radius: 0.5rem;
}
.language-switcher__link {
  text-decoration: none;
  color:white;
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.language-switcher__link:hover, .language-switcher__button:hover {
  background-color: rgba(255,255,255,0.1);
}
.language-switcher__drop-down {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #000;
  border: 1px solid rgba(238,238,238,0.3);
  border-radius: 0.5rem;
  /* margin-bottom: 45px; */
  max-height: 200px;
  overflow-y: scroll;
}
.language-switcher-select {
  padding-bottom: 10px
}

.language-switcher__item {
  display: flex;
  align-items: center;
  width: 100%;
}

.language-switcher__flag {
  margin-right: 10px; /* Adjust the margin as needed */
  height: 20px;
  width: 20px;
}
.language-switcher__select-menu {
  width: 100%;
}

/** Edit button toolbar */
a[href^="/node/"].toolbar-icon-edit.toolbar-item {
  background: white;
  color: #333 !important;
}

/** Modal dialog */
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
  background: transparent;
  border: 0;
}
.ui-dialog-title {
  font-family: 'TT Commons';
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}
.ui-dialog .ui-dialog-content {
  font-family: 'TT Commons';
  font-size: 1.2rem;
}
.webform-confirmation-modal {
  border-left: 0.45rem solid #ff0096 !important;
  border-radius: 0 !important;
  padding: 2rem;
  box-shadow: 0px 0px 2rem rgba(0,0,0,0.2);
}
.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  border: 0;
  font-size: 1rem;
}
/** Menu */
@media (min-width: 992px) {
  .desktop-float-left {
    float: left
  }
  .menu-level-1-li.has-children {
    padding-right: 20px;
    margin-right: 0
  }
  .menu-level-1-li.has-children {
    background-image: url('/resources/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
  }
  .megamenu-opened {
    border-bottom: 2px solid #e00083;
  }
}
@media (max-width: 991px) {
  .coh-container.cta-wrapper {
    margin-top: 20px;
  }
}
@media(max-width: 1599px) {
  .coh-container-fix {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
.cta-wrapper {
  display: flex;
  align-items: center;
}

.media-left {
  flex-direction: row-reverse;
}

.content-centered {
  max-width: 900px;
  margin: 0 auto !important;
}
.slick-list {
  padding: 16px 0;
}

.coh-style-primary-dark-atom- > input {
  color: white;
  font-weight: 600;
  padding: 0 20px;
}
.coh-style-primary-dark-atom-:hover {
  cursor: pointer;
}


.planSwitch,
.planSwitch * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.planSwitch {
  display: block;
  width: 100%;
  max-width: 30em;
  margin: 2em auto;
  height: 3em;
  border-radius: 5rem;
  background: transparent;
  position: relative;
  border: 2px solid #e00083;
}
.planSwitch input {
  display: none;
}
.planSwitch label {
  width: 33.3333%;
  float: left;
  text-align: center;
  height: 100%;
  color: white;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 3;
  font-weight: 600;
  line-height: 2.7rem;
}
.planSwitch input:checked + label {
  color: #000
}
.indicator {
  display: block;
  width: calc(33.3333% + 4px);
  height: calc(100% + 4px);
  background: white;
  border-radius: 3rem;
  position: absolute;
  top: -2px;
  transition: left .2s ease-in-out;
  z-index: 2;
  margin-left: -2px;
}

.planSwitch input:first-of-type:checked ~ .indicator {
  left: 0;
}
.planSwitch input:nth-of-type(2):checked ~ .indicator {
  left: 33.3333%;
}
.planSwitch input:nth-of-type(3):checked ~ .indicator {
  left: 66.6666%;
}
@media (min-width: 500px) {
  .planSwitch {
    font-size: 12pt;
  }
}
.environment-indicator article footer {
  display: none !important;
}