
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
  }
  
  .modal__container {
    background-color: #fff;
    padding: 32px;
    max-width: 590px;
    max-height: 100vh;
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
  }

.modal__header {
    padding-bottom: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
    cursor: pointer
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  .main-banner-image {
    width: 100%;
    display: block;
    border-radius: 8px;
  }
  .language-detection-image {
    background-image: url('/resources/images/language-detection.jpeg');
    background-position: center;
    background-size: cover;
  }
  .main-banner-text {
    padding: 56px 0 32px 0;
    text-align: center;
  }
  .main-banner-text p {
    font-size: 20px;
    margin-top: 16px;
    display: block;
    color: #202020;
  }
  
  .buttons-wrapper {
    margin-top: 56px;
  }

  .buttons-wrapper img {
    max-width: 16px;
    float: left;
    margin-right: 6px;
  }
  .buttons-wrapper .coh-link {
    display: flex;
    margin-bottom: 8px;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  .coh-style-secondary-outlined-atom-:hover {
    background: #e00083;
    color: white;
  }
  .coh-style-secondary-outlined-atom-, .coh-style-primary-dark-atom- {
    transition: all .2s ease;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: center;
  }
  .buttons-wrapper .coh-link.coh-style-primary-dark-atom- {
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .buttons-wrapper {
      flex-direction: column;
    }
    .modal__container {margin: 0 16px}
    .modal__container {padding: 16px}
    .buttons-wrapper .coh-link {margin-bottom: 16px}
    .buttons-wrapper {
      margin-top: 32px;
    }
    .main-banner-text {
      padding: 32px 0 0 0;
      text-align: center;
    }
    .main-banner-image {
      height: 200px;
    }
    .modal__header {padding-bottom: 16px}
  }
  @media (min-width: 992px) {
    .main-banner-image {
      height: 275px;
    }
    .buttons-wrapper .coh-link.coh-style-primary-dark-atom- {
      margin-right: 24px;
    }
  }

  @media (max-height: 720px) {
    .main-banner-image {height: 220px}
    .modal__header {padding-bottom: 24px}
    .modal__container {padding: 24px}
    .main-banner-text {padding: 24px 0 0 0}
    .buttons-wrapper {margin-top: 24px}
  }
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
  .modal__close {
    max-width: 24px;
  }
  .modal-lang-detection-btn.btn-lang-all {display: none}