{% for paragraph in paragraphs %}
    {% if paragraph.type == 'text_and_webform' %}
        <div class="text-and-webform flex justify-center bg-[#202020] rounded-t-[40px]">
            <div class="coh-style-form flex flex-col md:flex-row lg:justify-center py-12 md:py-20 max-w-[1280px] mx-4 md:mx-8 xl:mx-auto gap-8 lg:gap-20">
                <div class="text-container mb-4 w-full lg:w-[543px] md:w-auto">
                    <label class="pms-transformation__label text-[14px] font-semibold leading-[18px] uppercase pl-4 border-l-4 border-[#E00083] pl-4 border-solid h-6 mb-4 text-white">{{ "GET IN TOUCH"|t }}</label>
                    <h2 class="text-[#202020] text-[48px] font-semibold leading-[60px] text-white mb-4">
                        {{ paragraph.fields.field_webform_title[0]['value'] }}
                    </h2>
                    <div class="text-white text-[16px] md:text-[20px] font-light leading-[22px] md:leading-[28px]">{{ paragraph.fields.field_webform_text[0]['value'] }}</div>
                </div>
                {{ form }}
            </div>
        </div>
    {% endif %}
{% endfor %}

<style>
  @media screen and (min-width: 769px) {
    .text-and-webform form {
      width: 280px;
      padding: 48px;
      box-sizing: content-box;
    }

    @media screen and (min-width: 1025px) {
      .text-and-webform form {
        width: 496px;
      }
    }

    .text-container {
      width: 543px;
    }
    .main-wrapper {
      flex-direction: row !important;
    }

    .text-and-webform .coh-style-form {
      flex-direction: row;
    }

    .text-and-webform form {
      border-radius: 40px;
    }
  }

  .form-desc-text--left p {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 24px;
  }

  .form-desc-text--left p:is(:last-of-type) {
    margin-bottom: 0;
  }

  .pre-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 8px
  }

  .webform-submission-form {
    border-radius: 16px;
    padding: 24px;
  }

  .webform-submission-form .js-form-type-checkbox {
    display: flex;
    flex-direction: row;
  }


  .webform-submission-form .js-form-type-checkbox input#edit-single-opt-in {
    margin-right: 24px;
  }

  .webform-submission-form input#edit-actions-submit {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    border-radius: 56px;
    background-color: #202020;
    font-weight: 700;
    line-height: 20px;
  }

  #edit-single-opt-in::before {
    background-color: white;
  }

  #edit-single-opt-in::after {
    top: 6px;
    left: 10px;
  }

  .webform-submission-form input#edit-actions-submit:hover {
    background-color: rgb(224, 0, 130);
    transition: all 0.3s;
  }

  .webform-submission-form {
    background-color: white;
  }
</style>
