{% set benefit_count = paragraph.fields.field_benefit_box|length %}
{% set dark_mode = paragraph.fields.field_benefits_dark_mode[0].value ?? false %}
{% set style = paragraph.fields.field_benefit_box_style[0].value ?? false %}

<div class="{% if dark_mode %}bg-black text-white{% endif %}">
	<div class="max-w-screen-xl mx-auto py-8">
		{% if paragraph.fields.field_main_title %}
			<h2 class="text-center font-semibold text-[32px]">
				{{ paragraph.fields.field_main_title[0].value }}
			</h2>
		{% endif %}
		{% if paragraph.fields.field_benefit_description %}
			<span class="mt-2 block text-xl font-light text-center">
				{{ paragraph.fields.field_benefit_description[0].value|raw }}
			</span>
		{% endif %}
	</div>
	<div class="flex items-center justify-center mt-6 pb-16">
		<div class="container mx-auto max-w-6xl px-4">
			<div class="flex flex-wrap justify-center gap-6 mx-auto">
				{% if paragraph.fields.field_benefit_box %}
					{% for paragraph in paragraph.fields.field_benefit_box %}
						{% set template_path = '/modules/custom/planet_core/templates/paragraph/paragraph--' ~ paragraph.type ~ '--default.html.twig' %}
						{{ include(template_path, { 'dark_mode': dark_mode, 'style': style }, ignore_missing = true) }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
