<div class="bg-black pt-16 pb-8 rounded-t-2xl" style="margin-bottom: -1px">
  <div class="max-w-screen-xl px-8 mx-auto">
    <h2 class="text-white text-center font-semibold text-[32px] children-light">
      {{paragraph.fields.field_heading[0].value}}
    </h2>
  </div>
</div>