{% if html_content %}
	<div>
		{{ html_content|raw }}


		<!-- form -->
		<div class="coh-container ssa-component coh-component ssa-component-instance-1070647a-83fa-41c0-b6ea-2bead2272886 coh-component-instance-1070647a-83fa-41c0-b6ea-2bead2272886 coh-light-mode coh-ce-cpt__v3_form_50_50_generic_-9e1e96f5" id="form-50-50">
			<div class="coh-container coh-container-boxed">
				<div class="coh-row coh-row-bleed-xl coh-row-visible-xl" data-coh-row-match-heights="{&quot;xl&quot;:{&quot;target&quot;:&quot;none&quot;}}" data-once="coh-row-match-heights-init">
					<div class="coh-row-inner">
						<div class="coh-column coh-ce-cpt__v3_form_50_50_generic_-399455a4 coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
							<div class="coh-container coh-container-left coh-ce-cpt__v3_form_50_50_generic_-c76781">
								<p class="coh-paragraph coh-style-e50 coh-ce-cpt__v3_form_50_50_generic_-7c06e510">What happens next?</p>
								<h1 class="coh-heading coh-style-h700 coh-ce-cpt__v3_form_50_50_generic_-bc120afd">
									Talk to one of our experts today
								</h1>
								<div class="coh-wysiwyg coh-ce-cpt__v3_form_50_50_generic_-e7353b22">
									<ul>
										<li>
											<span class="coh-style-b200">We will call you to outline your exact needs - a quick 15-minute call.</span>
										</li>
										<li>
											<span class="coh-style-b200">Once we understand how best to assist you, we can initiate the hassle-free onboarding process.</span>
										</li>
										<li>
											<span class="coh-style-b200">Finally, a&nbsp;dedicated consultant from Planet will&nbsp;reach out to get you operational as soon as possible.</span>
										</li>
									</ul>
								</div><img class="coh-image coh-image-responsive-xl" src="/sites/default/files/2023-11/pms-contact_1_0.jpg"></div>
						</div>
						<div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-6">
							<div class="coh-container coh-style-form coh-container-right coh-ce-cpt__v3_form_50_50_generic_-d5d1cbec">
								<div class="coh-container ssa-component coh-component ssa-component-instance-1070647a-83fa-41c0-b6ea-2bead2272886 coh-component-instance-1070647a-83fa-41c0-b6ea-2bead2272886">
									<div class="site-studio-webform-element site-studio-webform-node-element">
										<div>{{form}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% elseif content.field_layout_canvas %}
	<div id="block-cohesion-theme-content" style="padding-top: 72px">
		{{ content.field_layout_canvas }}
	</div>
{% endif %}
