<div class="flex flex-col lg:flex-row mt-[60px] max-w-[1280px] mx-6 md:mx-12 lg:mx-16 xl:mx-auto">
    {{ node.field_webform_text.value|raw }}
    {{ form }}
</div>
<div id="block-cohesion-theme-content" style="padding-top: 72px">
{{ node.field_html_content.value|raw }}
</div>