header, footer {
  max-width: 100%;
}

body.page-node-type-case-studies {
  overflow-x: hidden;
}

.plnt-case-study-single-page.plnt-blog-single-page {
  margin-top: 0;
}

.case_studies__more-block-container {
  overflow-x: hidden;
}

#block-cohesion-theme-content {
  margin: 0 auto;
}

.fav-features {
  background-color: rgba(224, 0, 131, 0.08);
  padding: 32px;
  border-radius: 16px;
}

.fav-features li span {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  top: 2px;
}

.fav-features li::marker {
  font-size:10px;
}

.fav-features__label {
  margin-bottom: 14px;
  display: block;
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.case-study-page__the-challenge {
  margin-top: 24px;
}

.case-study-page__meta-container {
  display: flex;
  height: auto;
  min-height: 200px;
  padding-top: 48px;
  max-width: 1280px;
  margin: 0 auto;
}

.page-node-type-case-studies .breadcrumbs {
  padding-left: 32px;
  padding-bottom: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.page-node-type-case-studies .breadcrumbs > span {
  font-weight: 400;
}

.page-node-type-case-studies header > div:is(:first-of-type) {
  margin-left: 32px;
}

.case-study-page__recommendation.case-study-page__recommendation--dark {
  background-color: #202020;
}

.case-study-page__recommendation.case-study-page__recommendation--dark .case-study-page__recommendation__text,
.case-study-page__recommendation.case-study-page__recommendation--dark .case-study-page__recommendation__name,
.case-study-page__recommendation.case-study-page__recommendation--dark .case-study-page__recommendation__role {
  color: white;
}

.customer-info__label {
  color: #000;
  font-family: "TT Commons", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  display: block;
  margin-bottom: 4px;
  cursor: inherit;
}

.case-study-page__customer-info span {
  color: #000;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.customer-info__label--company-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.customer-info__label--products__li {
  color: #000;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
.plnt-case-study-single-page {
  max-width: 748px;
}

.case-study-page__customer-info {
  box-sizing: content-box;
  background: rgba(170, 221, 238, 0.15);
  padding: 24px;
  margin-left: 32px;
  margin-right: 56px;
  border-radius: 16px;
  height: fit-content;
}

.case-study-page__customer-info__container {
  margin-bottom: 16px;
}

.case-study-page__customer-info__container--company-size > span {
  display: flex;
  align-items: center;
  border: 1px solid #D1D1D1;
  width: fit-content;
  border-radius: 4px;
  padding: 8px;
  gap: 8px;
}

.case-study-page__customer-info__container--company-size > span > span {
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

}
.case-study-page__customer-info__container--company-size img {
  margin-right: 5px;
  margin-left: 0;
}

.case-study-page__customer-info__container--company-size span span {
  margin-top: 3px;
}

.case-study-page__customer-info__container--company-link a {
  display: flex;
  align-items: center;
  color: #005AB2;
  text-align: left;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.case-study-page__customer-info__container--company-link a img {
  margin-left: 24px;
}

.case-study-page__customer-info__container--company-link {
  margin-bottom: 0;
}

.case-study-page__at-a-glance ul {
  padding-left: 0;
}

.customer-info__label--products__li {
  list-style-type: none;
}

.customer-info__label--products__li:before {
  content: '\2022';  /* Unicode character for the bullet */
  padding-right: 10px;
  font-size: 15px;
}

.case-study-page__at-a-glance li::before {
  content: '\2022';  /* Unicode character for the bullet */
  padding-right: 10px;
  font-size: 20px;
}

div.carousel__item:is(.carousel__item--more-block):hover {
  border-radius: 16px;
  transition: all 0.3s ease;
}

div.carousel__item:is(.carousel__item--more-block):hover:after {
  border-radius: 16px;
}

.case-study-page__three_favorite_features ul li::before {
  content: '\2022';  /* Unicode character for the bullet */
  padding-right: 10px;
  font-size: 15px;
}

.case-study-page__three_favorite_features > div > div.coh-inline-element {
  border-radius: 8px;
  border-left-style: none;
}

.case-study-page__three_favorite_features > div > div.coh-inline-element > div.coh-wysiwyg {
  gap: 0;
}
.case-study-page__three_favorite_features .coh-style-tip-box-dull-red- {
  padding: 32px;
}

.case-study-page__three_favorite_features h1 {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.case-study-page__three_favorite_features ul li {
  list-style-type: none;
  display: flex;
}

.customer-info__label--products__ul {
  padding-left: 0;
}

.case-study-page__at-a-glance li {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.case-study-page__h1 {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.case-study-page__h2 {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
  margin-top: 40px;
}

.need-to-know__span {
  display: inline-flex;
  font-weight: 600;
}

#bulb-icon {
  width: 25px;
  align-self: baseline;
  margin-top: 2px;
  margin-right: 2px;
}

.tip-box__container {
  display: flex;
  color: #202020;
  font-size: 18px;
  font-style: normal;
  font-weight:400;
  line-height: 36px;
}

.tip-box__meta-container {
  padding: 16px;
  height: auto !important;
  background-color: #F0F3FE;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
}

.case-study-page__h3 {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.case-study-page__long_text {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.case-study-page__solution-image {
  border-radius: 16px;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-top: 32px;
}

.case-study-page__h1--more-block {
  text-align: center;
  margin-bottom: 32px;
}

.case-study__more-block__content__read_full_story {
  padding-top: 12px;
}

.case-study__more-block__content__read_full_story {
  display: flex;
}

.case-study__more-block__content__label {
  color: #FFF;
  font-family: "TT Commons", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.case-study__more-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.case_studies__more-block-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  gap: 24px;
  margin-bottom: 124px;
}

.not-displayed {
  display: none;
}

.grow_your-business__container--small__content span:is(:nth-of-type(2)) {
  width: 150px;
}

.case-study-page__metrics {
  display:flex;
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 16px;
  border: 1px solid #D1D1D1;
  gap: 8px;
  width: min-content;
  box-sizing: content-box;
}

.case-study-page__recommendation__image {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 100px;
}

.case-study-page__recommendation__text {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 684px;
}


/*Quote-without-picture recommendation component version*/
.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__image {
  display: none;
}

.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__text__container {
  flex-direction: column;
}


.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__text__container__image--start {
  height: 51px;
  margin-bottom: 27px;
}

.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__text__container__image--end {
  display: none;
}

.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__name,
.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__role {
  margin-left: 0;
}
/* END Quote-without-picture recommendation component version*/

/*large-picture-and-quote recommendation component version*/
.case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__image {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__text__container__image--start {
  height: 51px;
  margin-bottom: 27px;
}

.case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__text__container__image--end {
  display: none;
}

.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__name,
.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__role {
  margin-left: 0;
}
/*END large-picture-and-quote recommendation component version*/

.case-study-page__recommendation__text__container {
  display: flex
}

.case-study-page__recommendation__text__container__image--start {
  align-self: flex-start;
  margin-left: 0;
  margin-right: 8px;
}

.case-study-page__recommendation__text__container__image--end {
  align-self: flex-end;
  margin-left: 8px;
}

.case-study-page__recommendation {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  background-color: rgba(170, 221, 238, 0.15);
  padding: 48px 32px;
  border-radius: 24px;
}

.case-study-page__recommendation__name {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-top: 24px;
  margin-left: 40px;
}

.case-study-page__recommendation__role {
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  margin-left: 40px;
}

.case-study-page__metrics__container {
  width: 256px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metric-label {
  text-align: center;
  color: #202020;
  font-family: "TT Commons", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.metric-value {
  color: #E00083;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.customer-info__label--company-size > span > img {
  margin-left: 0;
}

.link-box__container {
  display: flex;
  gap: 24px;
  height: 122px;
  background-color: #F0F3FE;
  border-radius: 8px;
  margin-top: 16px;
}

.link-box__image {
  width: 274px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.link-box__text {
  background-color: #f0f3fe;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.link-box__container:hover .link-box__text a img {
  margin-left: 24px;
  transition: all 0.3s ease-in;
}

.link-box__text a {
  color: #005ab2;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
}

.link-box__text a img {
  margin-left: 16px;
}
.case-study-page__metrics__container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case-study-page__tip-box:not(.case-study-page__three_favorite_features) > div > div {
  border-radius: 0 8px 8px 0;
  background-color: #F0F3FE;
  border-left: 3px solid #9AAEF9;
}

.case-study-page__link-box > div > div:is(:nth-of-type(2)) {
  background-color: #F0F3FE;
}

.case-study-page__three_favorite_features > div > div:is(:first-of-type){
  background-color: rgba(224, 0, 131, 0.08) !important;
}

.case-study-page__three_favorite_features ul {
  list-style: none;
}

.case-study-page__three_favorite_features ul li {
  list-style-type: none;
  display: flex;
  list-style-position: outside;
  font-family: 'TT Commons', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgb(32, 32, 32);
  font-size: 18px;
  line-height: 36px;
}

.case_studies__more-block-container {
  background-color: #F2F5F8;
}

.case-study-page__recommendation.small-picture-and-quote .case-study-page__recommendation__image--mobile {
  display: none;
}

.case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__image--mobile {
  display: none;
}

/** BLACK **/
.black-text {
  color: #202020 !important;
}

.grow_your-business__container--medium--black,
.grow-your-business__container.grow_your-business__container--large--blue {
  background-color: #303030;
}

.grow_your-business__container--medium--black .coh-style-primary-light-atom-:hover {
  background-color: #E00083;
}

.grow_your-business__container--medium--black .coh-style-primary-light-atom-:hover a {
  color: white !important;
}

.grow-your-business__container.grow_your-business__container--large--black .grow_your-business__container--large__buttons--white span  {
  color: #303030;
}

.grow_your-business__container--medium--black> div > span:is(:nth-of-type(2):hover) {
  background-color:  #E00083;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--black> div > span:is(:nth-of-type(2):hover) a {
  color: white;
}

.grow_your-business__container--medium--black > div > span:is(:first-of-type) {
  color: white;
}
/** END BLACK **/

/** WHITE **/
.grow_your-business__container--large__buttons--white.grow_your-business__container--large__buttons--white--for-white {
  background-color: #202020;
}

.grow_your-business__container--large__buttons--black.grow_your-business__container--large__buttons--black--for-white span {
  color: #202020;
}

.grow_your-business__container--large__buttons--black.grow_your-business__container--large__buttons--black--for-white {
  border: 1.5px solid #202020;
}

.grow_your-business__container--medium--white,
.grow-your-business__container.grow_your-business__container--large--white {
  background-color: white !important;
  box-shadow: 0 0.1rem 1.4rem 0.1rem rgb(219, 219, 219);
}

.grow-your-business__container.grow_your-business__container--large--white .grow_your-business__container--large__buttons--white span  {
  color: white;
}

.grow_your-business__container--medium--white > div > span:is(:first-of-type) {
  color: #202020;
}

.grow_your-business__container--medium--white > div > span:is(:nth-of-type(2)) {
  background-color: #202020;
}

.grow_your-business__container--medium--white > div > span:is(:nth-of-type(2)) a {
  color: white;
}

.white-text {
  color: white !important;
}

.grow_your-business__container--medium--white > div > span:is(:nth-of-type(2)):hover {
  background-color: #E00083;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--white > div > span:is(:nth-of-type(2)):hover a {
  color: white;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--white .coh-style-primary-light-atom-:hover {
  background-color: #E00083;
}

.grow_your-business__container--medium--white .coh-style-primary-light-atom-:hover a {
  color: white !important;
}
/** END WHITE **/


/** PINK **/
.pink-text {
  color: #E00083 !important;
}

.grow_your-business__container--medium--pink .coh-style-primary-light-atom-:hover {
  background-color: #E00083;
}

.grow_your-business__container--medium--pink .coh-style-primary-light-atom-:hover a {
  color: white !important;
}

.grow_your-business__container--medium--pink,
.grow-your-business__container.grow_your-business__container--large--pink {
  background-color: #E00083 !important;
}

.grow-your-business__container.grow_your-business__container--large--pink .grow_your-business__container--large__buttons--white span  {
  color: #E00083;
}

.grow_your-business__container--medium--pink > div > span:is(:first-of-type) {
  color: white;
}

.grow_your-business__container--medium--pink > div > span:is(:nth-of-type(2)):hover {
  background-color: #202020;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--pink > div > span:is(:nth-of-type(2)):hover a {
  color: white;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--pink > div > span:is(:nth-of-type(2)) a {
  color: #E00083;
}
/** END PINK **/


/** BLUE **/
.blue-text {
  color: #9AAEF9 !important;
}

.grow_your-business__container--medium--blue .coh-style-primary-light-atom-:hover {
  background-color: #E00083;
}

.grow_your-business__container--medium--blue .coh-style-primary-light-atom-:hover a {
  color: white !important;
}

.grow_your-business__container--medium--blue,
.grow-your-business__container.grow_your-business__container--large--blue {
  background-color: #9AAEF9 !important;
}

.grow-your-business__container.grow_your-business__container--large--blue .grow_your-business__container--large__buttons--white span  {
  color: #9AAEF9;
}

.grow_your-business__container--medium--blue > div > span:is(:nth-of-type(2)) a {
  color: #9AAEF9;
}

.grow_your-business__container--medium--blue > div > span:is(:first-of-type) {
  color: white;
}

.grow_your-business__container--medium--blue > div > span:is(:nth-of-type(2)):hover {
  background-color: #E00083;
  transition: all 0.3s ease-in-out;
}

.grow_your-business__container--medium--blue > div > span:is(:nth-of-type(2)):hover a {
  color: white;
  transition: all 0.3s ease-in-out;
}
/** END BLUE **/



@media (min-width: 1280px) {
  .coh-style-highlight-bright-blue- {
   margin-bottom: 0;
  }

  .case_studies__more-block-content {
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  .case-study-page__h1--more-block {
    margin-top: 0;
  }

  .case_studies__more-block-container {
    padding-top: 80px;
    margin-top: 80px;
    border-radius: 32px 32px 0 0;
  }

  .grow_your-business__container--small {
    display: none;
  }
}

@media (max-width: 1279px) {
  .block-layout__more_block {
    display: none;
  }
}

@media (min-width: 1025px) {
  .case-study-page__three_favorite_features {
    margin-top: 32px;
  }

  .grow_your-business__container--large__buttons a:hover span {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }

  .grow_your-business__container--large__buttons a:hover img {
    margin-left: 5px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
  }

  .grow_your-business__container--large {
    max-width: 1280px;
    min-height: 366px;
    border-radius: 16px;
    background-color: #202020;
    background-image: url(/resources/layers/Layer_Desktop_White.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .grow_your-business__container--large.grow_your-business__container--large--white {
    background-image: url(/resources/layers/Layer_Desktop_Black.svg);
  }

  .grow_your-business__container--large__buttons {
    display: flex;
    width: 100%;
    font-family: "TT Commons", sans-serif;
  }

  .grow_your-business__container--large__buttons a {
    width: 232px;
    height: 112px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 16px;
    font-family: "TT Commons", sans-serif;
    display: flex;
    align-items: end;
    margin-right: 24px;
  }

  .grow_your-business__container--large__buttons--white {
    background-color: white;
    color: #202020;
    margin-left: 82px;
    margin-right: 24px;
  }

  .grow_your-business__container--large__buttons--black {
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border: 1.5px solid white;
  }

  .grow_your-business__container--large__content {
    max-width: 506px;
  }

  .large-content__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: white;
    margin-bottom: 8px;
    font-family: "TT Commons", sans-serif;
  }

  .large-content__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-family: "TT Commons", sans-serif;
  }

  .inside-button-text {
    width: 146px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: "TT Commons", sans-serif;
    margin-right: 8px;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-top: 40px;
    border-radius: 24px;
  }

  .video-subtext {
    color: #202020;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-top: 32px;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

@media (max-width: 1344px) and (min-width: 1025px) {
  .case-study-page__h1--customer-info {
    margin-left: 32px;
  }

  .grow_your-business__container--large {
    margin-right: 32px;
    margin-left: 32px;
  }

  .case_studies__more-block-container {
    padding-top: 48px;
    background-color: #F9FAFB;
    margin-top: 48px;
    border-radius: 32px 32px 0 0;
  }

  .case_studies__more-block-content {
    margin-bottom: 0;
    padding-bottom: 80px;
  }

  .case-study-page__meta-container  {
    padding-right: 32px;
  }

  .case-study-page__h1 .case-study-page__h1--more-block {
    margin-top: 0;
  }

  .grow_your-business__container--small {
    display: none;
  }

  .grow_your-business__container--medium {
    width: 748px;
    height: 202px;
    border-radius: 16px;
    background-color: #202020;
    /*background-image: url(/resources/layers/Layer_Desktop_White.svg);*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TT Commons", sans-serif;
  }

  .grow_your-business__container--medium .coh-style-primary-light-atom- {
    display: flex;
    height: 56px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .grow_your-business__container--medium__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .grow_your-business__container--medium__content span:is(:first-of-type) {
    color: #FFF;
    font-family: "TT Commons", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .grow-your-business__meta_container {
    margin-top: 24px;
  }

  .case-study-page__link-box {
    margin-bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .case-study-page__the-solution h2 {
    margin-top: 32px;
  }

  .case_studies__more-block-container {
    margin-top: 48px;
  }

  .case_studies__more-block-content {
    margin-bottom: 0;
    padding-bottom: 48px;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .video-wrapper {
    display: none;
  }

  .video-subtext {
    display: none;
  }

  .case-study-page__link-box {
    display: none;
  }

  .plnt-case-study-single-page > div {
    margin-right: 32px;
  }

  .breadcrumbs {
    display: none;
  }

  .case-study-page__h1.case-study-page__h1--more-block  {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }

  .plnt-case-study-single-page {
    max-width: 100%;
  }
  .grow_your-business__container--small .coh-style-primary-dark-atom- {
    display: flex;
    height: 56px;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    background: #202020;
    color: #FFF;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  .grow_your-business__container--small:hover .coh-style-primary-dark-atom- {
    background-color: #E00083;
    border-color: #E00083;
  }

  .grow_your-business__container--small__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .grow_your-business__container--small__content span:is(:first-of-type) {
    color: #202020;
    font-family: "TT Commons", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  div.carousel__item:is(.carousel__item--more-block) {
    width: auto !important;
    border-radius: 16px;
  }

  .case-study-page__meta-container {
    flex-direction: column;
  }

  .case-study-page__customer-info {
    width: auto;
    margin-right: 32px
  }

  .case-study-page__h1 {
    margin-right: 32px;
    margin-left: 32px;
  }

  .case-study-page__h1--more-block {
    color: #202020;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }

  .plnt-blog-single-page > div {
    margin-left: 32px;
  }

  .grow_your-business__container--medium {
    width: 100%;
    height: 202px;
    border-radius: 16px;
    /*background-image: url(/resources/layers/Layer_Tablet_Black.svg);*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TT Commons", sans-serif;
    box-shadow: 0 0.1rem 1.4rem 0.1rem rgb(219, 219, 219);
  }

  .case-study-page__solution-image {
    margin-left: 0;
  }

  .case_studies__more-block-container {
    border-radius: 32px 32px 0px 0px;
    background: #F2F5F8;
  }

  .case-study-page__h1--more-block  {
    padding-top: 48px;
  }
}

@media (min-width: 769px) {
  .grow_your-business__container--medium__content span:is(:first-of-type) {
    font-family: "TT Commons", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .grow_your-business__container--medium__content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
  }

  .coh-style-primary-light-atom- {
    display: inline-flex;
    align-items: center;
    height: 56px;
    width: 128px;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
  }

  .coh-style-primary-light-atom- a {
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.48px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .grow_your-business__container--medium--black {
    background-color: #202020;
  }

  .case-study-page__the-result {
    margin-bottom: 32px;
  }

  .grow_your-business__container--medium {
    display:flex;
    min-height: 202px;
    border-radius: 16px;
    margin-top: 32px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .grow_your-business__container--medium {
    margin-top: 32px;
  }

  .case_studies__more-block-container {
    margin-top: 48px;
  }

  .case-study-page__tip-box.case-study-page__three_favorite_features {
    margin-top: 32px;
  }

  .grow_your-business__container--large {
    border-radius: 16px;
    background-color: #202020;
    background-image: url(/resources/layers/Layer_Desktop_White.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 57px;
  }

  .coh-style-highlight-bright-blue- {
    margin-bottom: 32px;
  }

  .grow_your-business__container--large.grow_your-business__container--large--white {
    background-image: url(/resources/layers/Layer_Desktop_Black.svg);
  }

  .case-study-page__h1--customer-info {
    padding-top: 48px;
  }

  .grow_your-business__container--large__buttons {
    display: flex;
    width: 100%;
    font-family: "TT Commons", sans-serif;
    justify-content: center;
  }

  .grow_your-business__container--large__buttons a {
    width: 241px;
    height: 112px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 16px;
    font-family: "TT Commons", sans-serif;
    display: flex;
    align-items: end;
  }

  .grow_your-business__container--large__buttons--white {
    background-color: white;
    color: #202020;
    margin-right: 24px;
  }

  .grow_your-business__container--large__buttons--black {
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border: 1.5px solid white;
  }

  .large-content__text white-text {
    text-align: center;
  }

  .grow_your-business__container--large__content {
    max-width: 506px;
    margin-top: 57px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .large-content__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: white;
    margin-bottom: 8px;
    font-family: "TT Commons", sans-serif;
  }

  .large-content__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    font-family: "TT Commons", sans-serif;
  }

  .inside-button-text {
    width: 146px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: "TT Commons", sans-serif;
    margin-right: 8px;
  }
}

@media (max-width: 768px) {
  .tip-box__container h3 {
    font-size: 18px;
  }

  .grow_your-business__container--large {
    height: auto;
    border-radius: 16px;
    background-color: #202020;
    background-image: url(/resources/layers/Layer_Desktop_White.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px;
  }

  .grow_your-business__container--large.grow_your-business__container--large--white {
    background-image: url(/resources/layers/Layer_Desktop_Black.svg);
  }

  .grow_your-business__container--large__buttons {
    display: flex;
    width: 100%;
    font-family: "TT Commons", sans-serif;
    flex-direction: column;
  }

  .grow_your-business__container--large__buttons a {
    height: 112px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 16px;
    font-family: "TT Commons", sans-serif;
    display: flex;
    align-items: end;
  }

  .grow_your-business__container--large__buttons--white {
    background-color: white;
    color: #202020;
  }

  .grow_your-business__container--large__buttons--black {
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border: 1.5px solid white;
    margin-top: 16px;
  }

  .grow_your-business__container--large__buttons--black .inside-button-text {
    color: white;
  }

  .grow_your-business__container--large__buttons--white .inside-button-text {
    color: #202020;
  }

  .grow_your-business__container--large__content {
    display: flex;
    flex-direction: column;
  }

  .grow_your-business__container--large__content {
    display: flex;
    flex-direction: column;
  }

  .grow_your-business__container--large__content span {
    color: #FFF;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .inside-button-text {
    font-family: "TT Commons", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    width: 146px;
  }

  .grow_your-business__container--large__content {
    display: flex;
    flex-direction: column;
  }

  .grow_your-business__container--large__content .large-content__text {
    color: #FFF;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 16px;
  }

  .grow_your-business__container--medium__content {
      width: 100%;
      height: auto;
      border-radius: 16px;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "TT Commons", sans-serif;
      flex-direction: column;
  }

  .case_studies__more-block-container {
    margin-top: 24px;
  }

  .grow_your-business__container--medium__content span:is(:first-of-type) {
    color: #202020;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }

  .grow_your-business__container--medium__content span:is(:nth-of-type(2)) {

    width: 256px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }

  .grow_your-business__container--medium__content span:is(:nth-of-type(2)) a {
    color: #202020;
    text-align: center;
    font-family: "TT Commons", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.48px;
  }

  .case-study-page__image-container {
    margin-left: 0 !important;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .case-study-page__image-container img {
    height: auto;
    margin-left: 16px;
    border-radius: 16px;
  }
  .grow_your-business__container--small {
    display: none;
  }

  .case-study-page__the-result h2 {
    margin-top: 24px;
  }

  .case-study-page__solution-image {
    margin-top: 24px;
  }

  .plnt-blog-single-page > div,img {
    margin-left: 16px;
  }

  .case-study-page__customer-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .plnt-case-study-single-page > div {
    margin-right: 16px;
  }

  .case-study-page__long_text {
    color: #202020;
    font-family: "TT Commons", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .case_studies__more-block-content {
    gap: 16px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }

  .case-study-page__image-container {
    align-items: normal;
  }

  .case-study-page__h1--customer-info {
    margin-left: 16px;
    margin-right: 16px;
    word-break: break-word;
  }

  .case-study-page__meta-container {
    margin-top: 24px;
    padding-top: 0;
  }

  .case-study-page__metrics {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .case-study-page__at-a-glance h2 {
    margin-top: 24px;
  }

  .case-study-page__recommendation {
    margin-top: 24px;
  }

  .case-study-page__recommendation__text span {
    word-break: break-word;
    font-family: "TT Commons", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .coh-style-highlight-bright-blue- {
    margin-bottom: 0;
  }

  .case-study-page__the-solution h2.case-study-page__h2 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .case-study-page__the-challenge h2.case-study-page__h2 {
    margin-top: 24px;
  }


  .case-study-page__h1.grow_your-business__container--small__content span:is(:first-of-type) {
    font-size: 24px;
  }

  .case-study-page__h1--more-block {
    font-size: 36px;
  }

  .case-study-page__h1 {
    color: #202020;
    font-family: "TT Commons", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .case-study-page__the-result {
    margin-bottom: 24px;
  }

  .case-study-page__h2 {
    color: #202020;
    font-family: "TT Commons", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
}

@media (min-width: 657px) and (max-width: 768px) {
  .grow_your-business__container--medium {
    margin-top: 24px;
  }
}

@media (min-width: 657px) {
  .case-study-page__metrics__container {
    height: 80px;
  }

  .case-study-page__recommendation__text__container__image--start {
    left: -10px;
    position: relative;
  }

  .case-study-page__recommendation.large-picture-and-quote.case-study-page__recommendation__text__container {
    margin-left: -64px;
  }

  .case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__name,
  .case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__role {
    margin-left: 74px
  }

  .case-study-page__recommendation__image--mobile {
    display: none;
  }

  .case-study-page__recommendation:not(.large-picture-and-quote) .case-study-page__recommendation__image--mobile {
    display: none;
  }
}

@media (max-width: 656px) {
  .grow-your-business__meta_container {
    margin-top: 24px;
  }
  .case-study-page__recommendation.small-picture-and-quote .case-study-page__recommendation__image__container,
  .case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__image__container {
    margin-bottom: 0;
  }

  .case-study-page__recommendation.small-picture-and-quote .case-study-page__recommendation__name,
  .case-study-page__recommendation.small-picture-and-quote .case-study-page__recommendation__role {
    margin-left: 40px;
  }

  .case-study-page__recommendation.quote-without-picture .case-study-page__recommendation__text__container__image--start {
    display: inherit;
  }

  .case-study-page__recommendation__image--mobile {
    position: relative;
    display: inherit;
    bottom: 185px;
    left: 60px;
    height: 140px;
    width: 51px;
  }

  .case-study-page__recommendation.small-picture-and-quote .case-study-page__recommendation__text__container__image--start {
    display: inherit;

  }

  .case-study-page__recommendation__image__container {
    margin-bottom: -140px;
    margin-left: auto;
    margin-right: auto;
  }

  .case-study-page__recommendation__text__container__image--start {
    display: none;
  }

  .case-study-page__recommendation__name,
  .case-study-page__recommendation__role {
    margin-left: 0;
  }

  .case-study-page__recommendation {
    flex-direction: column;
  }

  .case-study-page__recommendation__image {
    align-self: center;
  }

  .case-study-page__h1--more-block  {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }

  .case-study-page__metrics {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media (min-width: 321px) {
  .case-study-page__recommendation.large-picture-and-quote .case-study-page__recommendation__text__container__image--start {
    left: -65px;
  }
}
