/** [PLANET 2FA]*/
.plnt-okta-verify-tfa-setup {
  color: #0a6eb4;
}

form.tfa-setup ul {
  display: none;
}

/** [PLANET ADMIN PAGES]*/
.plnt-css-admin-page .ck-editor__editable {
  resize: vertical;
  max-height: 60vh;
  height: 500px;
}
/** END */

/** [PLANET OFFICES] */
.offices-list .coh-view-content-item {
  padding-top: 2.5rem;
  padding-right: 3.75rem;
  padding-bottom: 2.5rem;
  padding-left: 3.75rem;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
}

.coh-container.coh-style-region-countries.coh-container-boxed {
  margin-bottom: 0 !important;
}

/** END */

/** [LANGUAGE SWITCHER] */
.language-switcher {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  max-width: 220px;
  width: 100%;
}

.language-switcher__wrapper {
  display: flex;
  width: 100%;
}

.language-switcher__button-wrapper {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  width: 100%;
}

ul.language-switcher__dropdown-menu {
  padding: 0;
}

.language-switcher__button {
  display: flex;
  position: relative;
  padding: 1em;
  margin-right: 0;
  cursor: pointer;
  border: 1px solid rgba(238, 238, 238, 0.3);
  border-radius: 0.5rem;
}
.useful-link-box .article-card-content p {
  line-height: 22px;
}
.no-articles {
  padding: 48px 0;
}
.news-container {
  padding-bottom: 48px
}
.language-switcher__link {
  text-decoration: none;
  color: white;
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.language-switcher__link:hover,
.language-switcher__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.language-switcher__drop-down {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: #000;
  border: 1px solid rgba(238, 238, 238, 0.3);
  border-radius: 0.5rem;
  /* margin-bottom: 45px; */
  max-height: 200px;
  overflow-y: scroll;
}

.language-switcher-select {
  padding-bottom: 10px
}

.language-switcher__item {
  display: flex;
  align-items: center;
  width: 100%;
}

.language-switcher__flag {
  margin-right: 10px;
  /* Adjust the margin as needed */
  height: 20px;
  width: 20px;
}

.language-switcher__select-menu {
  width: 100%;
}

/** Edit button toolbar */
a[href^="/node/"].toolbar-icon-edit.toolbar-item {
  background: white;
  color: #333 !important;
}

/** Modal dialog */
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
  background: transparent;
  border: 0;
}

.ui-dialog-title {
  font-family: 'TT Commons';
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

.ui-dialog .ui-dialog-content {
  font-family: 'TT Commons';
  font-size: 1.2rem;
}

.webform-confirmation-modal {
  border-left: 0.45rem solid #ff0096 !important;
  border-radius: 0 !important;
  padding: 2rem;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.2);
}

.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  border: 0;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .planet-h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
  }
  .news-title {
    margin-bottom: 24px
  }
}
@media (min-width: 768px) {
  .planet-h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
  }
  .news-title {
    margin-bottom: 48px
  }
}
/** Menu */
@media (min-width: 992px) {
  .news-main-title {
    padding-top: 48px
  }
  .planet-h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
  }
 
.card-button:hover {
  text-decoration: underline;
}

.card-button img {
  transition: all 0.2s ease;
}

.card-button:hover img {
  margin-left: 20px;
}
  .article-content-wrapper .coh-wysiwyg .coh-style-b200 {
    font-size: 18px;
    line-height: 200%;
    font-weight: 400;
  }
  .article-content-wrapper {padding-left: 92px; padding-right: 32px}

  .single-layout-canvas .coh-style-h700,
  .single-layout-canvas .coh-style-h600,
  .single-layout-canvas .coh-style-h500 {
    font-size: 32px;
    line-height: 125%;
    margin-top: 32px;
    display: block
  }

  .share-input {
    overflow: hidden;
    display: flex;
    position: relative;
    align-content: center;
    width: 100%;
  }

  .share-url {
    white-space: nowrap;
    font-size: 20px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    font-weight: 300;
    width: 100%;
  }

  .share-url::after {
    content: "";
    background: linear-gradient(to right, transparent 70%, white 95%);
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .share-url.url-copied::before {
    content: "Copied!";
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 30px;
  }

  .share-url-wrapper {
    border: 1px solid #d1d1d1;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 32px
  }

  .desktop-float-left {
    float: left
  }

  .menu-level-1-li.has-children {
    padding-right: 20px;
    margin-right: 0
  }

  .menu-level-1-li.has-children {
    background-image: url('/resources/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
  }

  .megamenu-opened {
    border-bottom: 2px solid #e00083;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .dynamic-index-wrapper.desktop-version {display: none;}
}

@media (max-width: 991px) {
  .news-main-title {
    padding-top: 24px
  }
  .planet-h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
  }
 
  .planSwitch-container {
    margin-top: 24px;
    margin-bottom: 8px
  }

  .article-wrapper {
    padding-right: 8px;
    padding-left: 8px;
  }

  .single-layout-canvas .coh-style-h700,
  .single-layout-canvas .coh-style-h600,
  .single-layout-canvas .coh-style-h500 {
    font-size: 24px;
    line-height: 125%;
    margin-top: 0;
    display: block;
  }

  div.article-content-wrapper {
    padding-top: 24px
  }

  h1.blog-h1 {
    font-size: 32px
  }

  .plnt-blog-single-page .coh-container.coh-container-boxed {
    margin-right: 16px;
    margin-left: 16px;
  }

  .share-url-wrapper .share-input {
    display: none;
  }

  .share-url-wrapper {
    text-align: center;
    margin-top: 32px
  }

  .desktop {
    display: none
  }

  .copy-btn {
    width: auto;
  }

  .share-social-wrapper {
    justify-content: center;
  }

  #share-article-modal .main-banner-text {
    text-align: center !important
  }

  .share-button {
    padding: 12px 16px;
    width: auto;
  }

  .coh-container.cta-wrapper {
    margin-top: 20px;
  }

  .breadcrumbs {
    display: none;
  }

  .dynamic-index-wrapper.desktop-version {
    display: none;
  }
}

@media(max-width: 1599px) {
  .coh-container-fix {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.cta-wrapper {
  display: flex;
  align-items: center;
}

.media-pp-left {
  flex-direction: row-reverse;
}

.content-centered {
  max-width: 900px;
  margin: 0 auto !important;
}

.slick-list {
  padding: 16px 0;
}

.coh-style-primary-dark-atom->input {
  color: white;
  font-weight: 600;
  padding: 0 20px;
}

.coh-style-primary-dark-atom-:hover {
  cursor: pointer;
}


.planSwitch,
.planSwitch * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.planSwitch {
  display: block;
  width: 100%;
  max-width: 30em;
  margin: 2em auto;
  height: 3em;
  border-radius: 5rem;
  background: transparent;
  position: relative;
  border: 2px solid #e00083;
}

.planSwitch input {
  display: none;
}

.planSwitch label {
  width: 33.3333%;
  float: left;
  text-align: center;
  height: 100%;
  color: white;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out;
  z-index: 3;
  font-weight: 600;
  line-height: 2.7rem;
}

.planSwitch input:checked+label {
  color: #000
}

.indicator {
  display: block;
  width: calc(33.3333% + 4px);
  height: calc(100% + 4px);
  background: white;
  border-radius: 3rem;
  position: absolute;
  top: -2px;
  transition: left .2s ease-in-out;
  z-index: 2;
  margin-left: -2px;
}

.planSwitch input:first-of-type:checked~.indicator {
  left: 0;
}

.planSwitch input:nth-of-type(2):checked~.indicator {
  left: 33.3333%;
}

.planSwitch input:nth-of-type(3):checked~.indicator {
  left: 66.6666%;
}

@media (min-width: 500px) {
  .planSwitch {
    font-size: 12pt;
  }
}

.planSwitch.planSwitch-black .indicator {
  background: black;
}

.planSwitch.planSwitch-black {
  max-width: 29rem;
}

.planSwitch-black input:checked+label {
  color: white;
}

.planSwitch-black input:nth-of-type(2):checked~.indicator {
  left: 50%;
}

.planSwitch-black .indicator {
  width: calc(50% + 4px);
}

.planSwitch-black label {
  width: 50%;
  color: black;
}

.environment-indicator article footer {
  display: none !important;
}

@media(min-width: 1024px) {


  .plnt-author-page {
    margin-bottom: 32px auto;
  }
}

.plnt-author-page {
  background: #202020;
  padding: 48px 0;
  color: white;
  margin-top: 0;
}

@media (max-width: 1023px) {
  .plnt-blog-single-page, .blog-articles-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .author-name span {
    font-size: 32px;
    margin-top: 16px !important
  }

  .article-card .author-name span,
  .featured-article-info .author-name span,
  .article-date,
  .vertical-divider {
    font-size: 17.5px !important
  }

  /* .article-title a {
    margin-top: 8px !important
  } */

  .author-photo {
    max-width: 200px;
    margin-bottom: 24px
  }

  .article-author .author-photo {
    margin-bottom: 0
  }

  .plnt-author-page {
    padding-top: 96px
  }

  .author-bio p {
    margin-top: 16px !important
  }

  .main-pills .main-pill {
    margin-right: 16px;
    margin-bottom: 16px
  }
}

@media (min-width: 1024px) {

  /** Fixes to allow for the transparent header */
  .plnt-author-page {
    padding-top: 144px;
  }

  .author-photo {
    margin: 0 auto
  }
}

.author-photo {
  overflow: hidden;
  background-color: gray;
  border-radius: 100rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 160px;
  max-height: 160px;
}

.author-name span {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.author-role {
  font-size: 20px;
  font-weight: 300;
  margin-top: 8px;
}

.author-social {
  margin-top: 32px;
  color: white;
}

.author-social a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
  display: inline-block;
}
.last-articles>h2 {
  text-align: center;
}

.last-articles-wrapper {
  padding: 55px 0
}

.breadcrumbs.text-white a {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.breadcrumbs {
  padding-bottom: 32px;
  padding-top: 24px
}

.author-photo div>div:first-child {
  display: none;
}

.author-photo img {
  display: block;
}

.plnt-author-page .author-info {
  padding: 48px 0 0 0;
  display: flex;
  align-items: center;
}

.author-bio p {
  font-size: 20px;
  padding-bottom: 24px;
  line-height: 1.4;
  margin-top: 18px;
}

.author-social h2 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.last-articles h2 {
  font-weight: 600;
  font-size: 2rem;
}

.tags-pills.pink-pills span {
  border: 1px solid #e00083;
}

.tags-pills span {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
  padding: 8px 12px;
  margin-right: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.article-title {
  padding-bottom: 16px;
}

.last-articles-cards {
  padding-top: 48px;
  padding-bottom: 24px;
}

.tags-pills {
  padding-bottom: 24px;
}

.article-card {
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all .2s ease;
  height: 100%;
}


.last-articles-cards {
  min-height: 600px
}

.article-cards-wrapper .coh-column {
  display: flex;
}

.main-pill {
  transition: all .2s ease;
}

.main-pills .main-pill {
  display: none
}

.main-pills .main-pill.visible {
  display: inline-block
}

.main-pill:not(.selected):hover {
  background: #f2d0e4;
}

.tags-pills .selected {
  color: white;
  background: #e00083;
}

.article-card .author-photo,
.featured-article-info .author-photo {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.article-card .author-name span,
.featured-article-info .author-name span,
.article-date,
.vertical-divider {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  color: #545454;
}

.article-author {
  display: flex;
  align-items: center;
}

.article-author-and-date {
  display: flex;
  justify-content: left;
  align-items: center;
}

.vertical-divider {
  padding: 0 8px;
}

.article-bg-image-wrapper {
  padding: 5px 5px 0 5px;
  transition: all .2s ease;
}

.article-bg-image {
  height: 208px;
  background-color: #f1f1f1;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .2s ease;
}

.article-title a, .article-title > span {
  font-size: 24px;
  color: #202020;
  font-weight: 600;
  line-height: 30px;
  display: block;
}
.loader > img {
  max-width: 80px;
  margin: 0 auto;
}
.all-article-tags {
  display: inline;
}


.planet-h3 {
  font-size: 24px;
  color: #202020;
  font-weight: 600;
  line-height: 30px;
  display: block;
}
.planet-box-icon {
  margin-bottom: 24px;
  max-width: 48px;
  height: auto;
}

.useful-link-box .article-card-content {
  padding: 24px;
}
.useful-link-box p a {
  text-decoration: underline;
}
.author-social img {
  width: 24px;
  height: auto;
  float: right;
  margin-right: 8px;
  margin-top: 3px;
  margin-left: 16px;
}

.author-social-icons-wrapper {
  height: 50px;
  display: block;
}

.last-articles ul,
.last-articles ul li {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 1.1rem;
}

.last-articles a {
  color: black;
}

.linked-author-page img {
  border-radius: 30rem;
  height: 32px;
  width: 32px;
  margin-right: 16px
}

.linked-author-page {
  display: flex;
}

.author-bio p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 32px;
}

.linked-author-page .author-name {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #000;
}

/** Transparent header */
/* .planet-header-transparent .header-container {
  background: transparent;
} */
.external-main-tags {
  display: inline-block;
}

#load-more-button {
  display: inline-block;
  margin: 0 auto;
  border-radius: 300rem;
  color: white;
  font-weight: 600;
  padding: 18px 24px;
  font-size: 16px;
  transition: all .2s ease;
  margin-top: 16px
}

.load-more-wrapper {
  text-align: center;
  display: block;
  width: 100%;
}

.load-more-wrapper img {
  display: inline-block;
  margin-left: 4px;
}


.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5
}

.modal__container {
  background-color: #fff;
  padding: 32px;
  max-width: 590px;
  max-height: 100vh;
  border-radius: 8px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  padding-bottom: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.main-banner-image {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.language-detection-image {
  background-image: url('/resources/images/language-detection.jpeg');
  background-position: center;
  background-size: cover;
}

.main-banner-text {
  padding: 56px 0 32px 0;
  text-align: center;
}

.main-banner-text p {
  font-size: 20px;
  margin-top: 16px;
  display: block;
  color: #202020;
}

.buttons-wrapper {
  margin-top: 56px;
}

.buttons-wrapper img {
  max-width: 16px;
  float: left;
  margin-right: 6px;
}

.buttons-wrapper .coh-link {
  display: flex;
  margin-bottom: 8px;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.coh-style-secondary-outlined-atom-:hover {
  background: #e00083;
  color: white;
}

.coh-style-secondary-outlined-atom-,
.coh-style-primary-dark-atom- {
  transition: all .2s ease;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper .coh-link.coh-style-primary-dark-atom- {
  white-space: nowrap;
}

.article-content-wrapper span, .article-content-wrapper p {
  line-height: 166% !important;
}

/** Custom select */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'TT Commons', sans-serif;
  display: inline-block;
  margin: 0 12px;
  min-width: 220px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.custom-select > .select-items {display: none}
.custom-select.selected > .select-items {display: block}

.select-selected {
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

/*style the arrow inside the select element:*/
.select-selected::after {
  position: absolute;
  content: "";
  right: 10px;
  width: 18px;
  height: 100%;
  background-image:url('/resources/icons/arrow-down.svg');
  background-repeat: no-repeat;
  top: 0;
  background-position: center;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active::after {
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #202020;
  padding: 15px 16px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.select-items div {
  border-bottom: 1px solid #f5f5f5;
}

.select-items div:last-child {
  border-bottom: 0;
}
/*
.select-selected.select-arrow-active {
  border: 1px solid #e00083;
}*/
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05); 
}
.select-selected:hover {
  background: #f5f5f5;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #f5f5f5;
}

/* --- */

@media (max-width: 991px) {


  .custom-select {
    width: 100%;
    margin: 8px 0;
  }
  .planet-select-wrapper {
    margin: 0 auto 16px auto;
    width: 100%;
  }
  .article-content-wrapper .coh-wysiwyg .coh-style-b200 {
    font-size: 15px;
    line-height: 186%;
    font-weight: 400;
  }
  .buttons-wrapper {
    flex-direction: column;
  }

  .modal__container {
    margin: 0 16px
  }

  .modal__container {
    padding: 16px
  }

  .buttons-wrapper .coh-link {
    margin-bottom: 16px
  }

  .buttons-wrapper {
    margin-top: 32px;
  }

  .main-banner-text {
    padding: 32px 0 0 0;
    text-align: center;
  }

  .main-banner-image {
    height: 200px;
  }

  .modal__header {
    padding-bottom: 16px
  }
}

@media (min-width: 992px) {
  .planet-select-wrapper {
    margin: 48px auto 32px auto;
  }
  .article-card:hover {
    box-shadow: 0 6px 20px 0 rgba(34, 34, 34, 0.16);
  }
  
  .article-card:hover .article-bg-image-wrapper {
    padding: 0;
  }
  
  .article-card:hover .article-bg-image {
    border-radius: 8px 8px 0 0;
    height: 213px
  }
  .article-card-content {
    padding: 16px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
  .mobile {
    display: none
  }

  .main-banner-image {
    height: 275px;
  }

  .buttons-wrapper .coh-link.coh-style-primary-dark-atom- {
    margin-right: 24px;
  }

  .dynamic-index-wrapper.mobile-version {
    display: none;
  }
}

@media (max-height: 720px) {
  .main-banner-image {
    height: 220px
  }

  .modal__header {
    padding-bottom: 24px
  }

  .modal__container {
    padding: 32px
  }

  .main-banner-text {
    padding: 24px 0 0 0
  }

  .buttons-wrapper {
    margin-top: 24px
  }
}

/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal__close {
  max-width: 24px;
}

.modal-lang-detection-btn.btn-lang-all {
  display: none
}

/** BLOG */
.featured-article-wrapper {
  border-radius: 16px;
  box-shadow: 0 8px 40px 0 rgba(29, 29, 29, 0.12);
  max-height: 480px;
}

.featured-article-image {
  padding: 16px;
  background-color: #f1f1f1
}

.featured-article-image img {
  border-radius: 8px;
  overflow: hidden;
}

.featured-article-info-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 64px
}

.featured-article-image {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 448px;
  border-radius: 8px;
}

.featured-article-wrapper {
  padding: 16px 16px 16px 32px
}



.planet-h2.black {
  color: #202020
}
.useful-news-links-box-wrapper {
  padding-bottom: 40px
}
.featured-article-info .article-author-and-date {
  margin-top: 16px;
}

.article-summary {
  font-size: 18px;
  line-height: 155%;
  margin-top: 16px;
  color: #202020;
  font-weight: 400;
}

/* .tags-pills.cursor-default > span {
  cursor: default
} */
.card-button {
  font-size: 16px;
  font-weight: 600;
  color: #0071de;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}


.card-button-wrapper {
  margin-top: 24px;
}

.card-button>img {
  margin-left: 16px;
}

.blog-articles-wrapper {
  padding: 80px 0;
  max-width: 1380px;
}

.planSwitch.planSwitch-3options .indicator {
  width: calc(33.3333% + 4px);
}

.planSwitch.planSwitch-3options label {
  width: 33.3333%;
  white-space: nowrap;
}

.planSwitch.planSwitch-3options input:nth-of-type(2):checked~.indicator {
  left: 33.3333%
}

.planSwitch-blog {
  margin-top: 56px;
  margin-bottom: 56px
}

.planSwitch-black a label {
  color: black;
}

.planSwitch-black input:checked+a label {
  color: white;
}

.planSwitch-selected {
  background: black;
  border-radius: 200rem;
  transform: scale(1.1);
  color: white !important;
}

.breadcrumbs,
.breadcrumbs a {
  color: #005AB2;
  font-size: 18px;
  font-weight: 600;
}

.plnt-blog-single-page {
  padding: 0;
}

.blog-h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 125%;
  color: #202020;
}

.article-content-wrapper .coh-wysiwyg a {
  color: black;
  text-decoration: underline;
}

.article-content-wrapper {
  padding-top: 40px
}

.article-content-wrapper .author-name span {
  font-size: 18px;
  color: #000
}

.article-content-wrapper .vertical-divider,
.article-content-wrapper .article-date {
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.article-content-wrapper .author-photo {
  height: 34px;
  width: 34px;
  margin-right: 16px;
}

.article-content-wrapper .article-author-and-date {
  margin-top: 16px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.author-and-date {
  display: flex;
  align-content: center;
  align-items: center;
}
.article-main-image {
  height: 338px;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article-main-image img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.share-social-wrapper {
  display: flex;
  margin-top: 16px
}

#share-article-modal .main-banner-text {
  width: 500px;
  max-width: 100%;
  text-align: left;
  padding: 0;
}

#share-article-modal .modal__header {
  padding-bottom: 0;
}

.share-social-wrapper>.social {
  margin-right: 16px;
  cursor: pointer;
}

#share-article-modal .modal__content {
  margin-top: 0;
}

.share-social-wrapper .social span,
.share-social-wrapper .social a {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  display: block;
  color: #202020;
  margin-top: 16px;
}

.share-btn {
  background: black;
  color: white;
  font-weight: 700;
  min-height: 44px;
  padding: 12px 24px;
  border-radius: 48px;
  font-size: 16px;
}

.article-main-image {
  margin-bottom: 32px
}

.single-layout-canvas .coh-style-body-large---tt-commons-planet,
.single-layout-canvas p {
  font-size: 18px;
  line-height: 166%;
  display: block;
  font-weight: 400;
}

.single-layout-canvas .coh-style-body-large---tt-commons-planet a {
  color: #0071de;
}

.single-layout-canvas {
  padding-bottom: 48px
}

@media (max-width: 1023px) {
  .featured-article-wrapper .coh-row-inner {
    flex-direction: column-reverse;
    display: flex;
  }
  .featured-article-wrapper {
    max-height: none;
  }
  .featured-article-image {margin-bottom: 32px}
}
@media (max-width: 991px) {
  .article-main-image {height: 200px}
  .article-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
  .featured-article-info-wrapper {
    padding: 16px
  }

  .article-content-wrapper .author-name span {
    font-size: 16px !important;
    margin: 0 !important;
    line-height: 0;
  }

  .dynamic-index-wrapper.mobile-version {
    height: auto;
  }

  .article-content-wrapper .vertical-divider {
    display: none
  }



  .featured-article-wrapper {
    max-height: none;
    padding: 0;
  }

  .tags-pills {
    padding-bottom: 8px
  }

  .featured-article-image {
    margin: 16px;
    min-height: 174px;
  }

  .blog-articles-wrapper {
    padding: 32px 0;
  }

  .planSwitch-blog {
    margin: 0 auto
  }
}

.article-related-articles {
  background: #f5f5f5;
  padding: 80px 0
}

.article-related-articles .small-heading {
  text-align: center;
  margin-bottom: 40px;
}

.article-related-articles .coh-row-inner {
  justify-content: center;
}

.article-related-articles .article-card {
  flex-grow: 1;
  height: 100% !important;
}

.article-related-articles .article-wrapper {
  margin-bottom: 16px;
}

.article-wrapper {
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px
}

.index-list a {
  display: block;
  color: black;
}

.dynamic-index-wrapper {
  height: calc(100% - 20vh);
  display: flex;
  align-content: center;
  align-items: center;
}

.index-list a {
  display: block;
  color: black;
  font-weight: 400;
  font-size: 16px;
  margin: 4px 0;
  padding: 8px 0 8px 12px;
}

.index-list a.active {
  border-left: 2px solid #e00083;
  margin-left: -2px;
}

.index-sticky {
  position: sticky;
  top: 15%;
  align-self: self-start;
}

.index-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 16px;
}

.dynamic-index-wrapper.mobile-version {
  height: auto;
  border-top: 1px solid #d1d1d1;
  position: sticky;
  background: white;
  z-index: 1;
  top: 70px;
  transition: all 0.2s ease;
}

.dynamic-index-wrapper.mobile-version.top-0 {
  top: 0
}

.dynamic-index-wrapper.mobile-version .index-list a {
  padding-left: 0
}

.dynamic-index-wrapper.mobile-version .index-list a {
  padding-left: 32px;
  padding-right: 16px;
}

.dynamic-index-wrapper.mobile-version .index-list a.active {
  margin-left: 0
}

.dynamic-index-wrapper.mobile-version .index-title {
  font-weight: 400;
  font-size: 16px;
  padding: 26px 16px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
  width: 100%;
}

.dynamic-index-wrapper.mobile-version .index-sticky {
  width: 100%
}

.dynamic-index-wrapper.mobile-version .index-list {
  padding: 8px 0 16px 0;
  border-bottom: 1px solid #d1d1d1
}

.dynamic-index-wrapper.mobile-version .index-title-wrapper {
  border-bottom: 2px solid #e00083;
  display: flex;
  justify-content: space-between;
}

.index-title-wrapper .arrow {
  margin-right: 32px;
  transform: rotate(90deg);
}

.dynamic-index-wrapper.mobile-version .expanded .arrow {
  transform: rotate(-90deg);
}

.article-date.mobile {
  margin-top: 6px;
}

.js-media-library-item-preview+div {
  display: none;
}

.js-media-library-item-preview img {
  border-radius: 8px;
  width: auto;
  height: auto;
}

.featured-article-info .tags-pills span {
  cursor: default;
}

.planSwitch-container .coh-row-inner {
  margin: 0 auto;
}

.share-button.coh-link.coh-style-primary-dark-atom- {
  padding: 6px 19px;
  font-size: 16px;
  font-weight: 700;
}
.article-content-wrapper .coh-wysiwyg strong {
  font-weight: 600;
}
.max-width-1216 {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.news-title {
  text-align: center;
  display: block;
  width: 100%;
}

.no-margin {
  margin: 0 auto;
}

.external-url-card .card-button {
  color: #0071de;
}

.external-url-card .card-button>img {
  margin-left: 16px;
}

.external-url-card .card-button:hover>img {
  margin-left: 24px;
}

a.button-with-icon-transition {
  color: #0071de;
}

.button-with-icon-transition img {
  margin-left: 16px;
  color: #0071de;
  transition: all 0.2s ease;
}

.button-with-icon-transition:hover>img {
  margin-left: 24px;
}

.external-news-wrapper {
  padding-top: 0;
}

.useful-link-box .news-card {
  background: #f5f5f5;
  border: 0;
  transition: none;
}

.useful-link-box .news-card:hover {
  box-shadow: none;
}

.news-card .tags-pills span {
  border: 0;
  border-left: 4px solid #e00083;
  border-radius: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
}

.news-card .tags-pills {
  padding-bottom: 8px;
}

.planet-select option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}

.planet-select-wrapper {
  text-align: center;
}

@media (max-width: 991px) {
  .last-articles .news-title {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.js-form-item select option {
  font-family: 'TT Commons', sans-serif;
  font-size: 15px;
}
label.js-form-required.form-required > span {
  color: #e00083
}
.news-title {
  text-align: center;
  display: block;
  width: 100%;
}

.no-margin {
  margin: 0 auto;
}

.external-url-card .card-button {
  color: #0071de;
  transition: none;
}
.external-url-card .card-button:hover > img {
  margin-left: 16px;
}
.external-url-card .card-button:hover > img {
  margin-left: 24px;
}
a.button-with-icon-transition {
  color: #0071de;
}
.button-with-icon-transition img {
  margin-left: 16px;
  color: #0071de;
  transition: all 0.2s ease;
}
.button-with-icon-transition:hover > img {
  margin-left: 24px;
}
.external-news-wrapper {
  padding-top: 0;
}
.useful-link-box .news-card {
  background: #f5f5f5;
  border: 0;
  transition: none;
}
.useful-link-box .news-card:hover {
  box-shadow: none;
}

.news-card .tags-pills span {
  border: 0;
  border-left: 4px solid #e00083;
  border-radius: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.news-card .tags-pills {
  padding-bottom: 8px;
}

.planet-select option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}
.planet-select-wrapper {
  text-align: center;
}
@media (max-width: 991px) {
  .last-articles .news-title {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}