  .plnt-switch,
  .plnt-switch * {
      box-sizing: border-box;
      user-select: none;
  }
  .plnt-toggle-switch {
    display: none; /* Hide the toggle initially */
}
  .plnt-switch {
      width: auto;
      margin: 1em auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .plnt-switch .toggle {
      display: inline-block;
      width: auto;
      margin: 0 auto;
      height: 3em;
      border-radius: 5rem;
      background: transparent;
      position: relative;
      border: 2px solid #e00083;
      font-size: 12pt;
      white-space: nowrap;
  }

  .plnt-switch .toggle button {
      float: left;
      text-align: center;
      height: 100%;
      color: black;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      z-index: 3;
      font-weight: 600;
      line-height: 2.7rem;
      padding: 0 1rem;
      background: none;
      border: none;
  }

  .plnt-switch .toggle button.active {
      color: white;
  }

  .plnt-switch .toggle .indicator {
      display: block;
      height: calc(100% + 4px);
      background: black;
      border-radius: 3rem;
      position: absolute;
      top: -2px;
      transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
      z-index: 2;
      margin-left: -2px;
  }

  .plnt-switch .toggle-section:first-of-type {
      display: block;
      /* The first section is shown by default */
  }

.plnt-btn-pink {
    font-size: 16px;
    font-weight: 700;
    padding: 12px 24px;
    background-color: #e00083;
    border: 2px solid #e00083;
    color: white;
    border-radius: 56px;
    transition: all .3s ease;
    display: inline-block;
}
.plnt-btn-pink:hover {
    background: black;
    border-color: black;
}
.index-cta > a {
    display: inline-block;
    padding: 12px 48px 12px 24px
  }
  .index-cta {
    margin-top: 16px;
  }
  .plnt-btn-pink.with-arrow {
    background-image: url("/resources/icons/sharp-arrow-pointing-right.svg");
    background-position: 94% center;
    background-repeat: no-repeat;
    background-size: 12px;
  }