.webform-flexbox {
  margin-bottom: 0;
  margin-top: 0;
}

.webform-submission-get-in-touch-dynamic-form {
  background-color: white;
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px;
  border-radius: 40px;
}

.webform-submission-get-in-touch-dynamic-form textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  background: #FFF;
  padding: 8px;
  resize: none;
}

.webform-submission-get-in-touch-dynamic-form .js-form-type-checkbox {
  display: flex;
}

.webform-submission-get-in-touch-dynamic-form .js-form-type-checkbox input.form-checkbox {
  width: auto;
  margin-right: 8px;
}

.webform-submission-get-in-touch-dynamic-form textarea:focus-visible {
  outline: #d1d1d1 solid 1px;
}

.webform-submission-get-in-touch-dynamic-form .form-type-textarea div {
  display: flex;
  flex-direction: column-reverse;
}

.webform-submission-get-in-touch-dynamic-form .form-type-textarea .text-count-message {
  padding-bottom: 8px;
}

.webform-submission-get-in-touch-dynamic-form label {
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  display: block;
  padding-bottom: 8px;
}

.webform-submission-get-in-touch-dynamic-form label[for="edit-are-you-customer"] {
  padding-bottom: 0;
}

.webform-submission-get-in-touch-dynamic-form .form-item-are-you-customer {
  display: flex;
  align-items: baseline;
}

.webform-submission-get-in-touch-dynamic-form #edit-markup p a {
  color: #005AB2;
  text-decoration: underline;
  font-weight: 600;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.webform-submission-get-in-touch-dynamic-form #edit-actions {
  width: 80px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}

.webform-submission-get-in-touch-dynamic-form #edit-markup p {
  color: #202020;
  text-decoration: underline;
  font-weight: 600;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
}

.webform-submission-get-in-touch-dynamic-form #edit-markup {
  margin-bottom: 48px;
}

.webform-submission-get-in-touch-dynamic-form select {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  height: 2.5rem;
  color: rgb(151, 151, 151);
  border-width: 0.0625rem;
  border-color: rgb(209, 209, 209);
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABrSURBVHgBjZDLEYAwCEQTk0I8pR5asDJboAW74GgJFsBB1xkuDBL3kM/CGz6ViNbyiJnP8kOWv+Dove9mzCDk4t1E5BpjHDBw459BqrqhuwZzBnvorWjBLziCoJq1ZPN7KAT9EiIoFeBs0zcAtFS4oDozJwAAAABJRU5ErkJggg==) no-repeat;
  background-size: 14px;
  background-position: -webkit-calc(100% - 8px) center;
  background-position: calc(100% - 8px) center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.webform-submission-get-in-touch-dynamic-form input:not(.webform-button--submit) {
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #D1D1D1;
  width: 100%;
}

.webform-submission-get-in-touch-dynamic-form .js-form-item {
  margin-bottom: 24px;
}