.region, .country,
.ssa-component-instance-c7e0f8c3-7f7b-4500-b5e4-bff968151a58,
.ssa-component-instance-101cb816-3a0b-41b6-9b62-bc60b8a75b88,
.coh-ce-cpt_office_locations-881a65bc,
.coh-style-accordion-with-two-titles-planet-panel {
  user-select: none;
}

.ssa-component-instance-3872490f-72c7-4701-af45-a91bcde0bbd3 a:hover {
  background-color: black;
  border-color: black;
}

.ssa-component-instance-3872490f-72c7-4701-af45-a91bcde0bbd3 a {
  margin-top: 30px;
}