@media (max-width: 1024px) {
  .coh-ce-cpt_form_half_width-399455a4.coh-col-xl-6 {
    max-width: 100% !important;
  }
}

.coh-ce-cpt_form_half_width-b4aee4c0 a span strong:visited {
  font-weight: 700;
  color: rgb(85, 26, 139);
}

.coh-ce-cpt_form_half_width-b4aee4c0 a span strong {
  font-weight: 700;
}

.coh-ce-cpt_form_half_width-b4aee4c0 a span strong {
  color: rgb(0, 0, 238)
}

.coh-ce-cpt_form_half_width-b4aee4c0 a:visited span strong {
  color: rgb(85, 26, 139)
}
