
<div class="bg-zinc-50">
    <a class="max-w-7xl px-4 md:px-8 2xl:px-0 block leading-[20px] text-lg font-semibold  text-[#005ab2] mx-auto py-6" href="{{ event_aliases[langcode] }}">{{ "Events"|t }}</a>
</div>

{% for paragraph in page_paragraphs %}
	{% set template_path = '/modules/custom/planet_core/templates/paragraph/paragraph--' ~ paragraph.type ~ '--default.html.twig' %}
	{{ include(template_path, ignore_missing = true) }}
{% endfor %}
