<div class="request-demo-block-meta-container">
    <div class="request-demo-block">
        <h2 class="case-studies-view-header">{{ 'Create your story with Planet'|t }}</h2>
        <a class="load-more-button" href="/contact/sales">{{ 'Talk to us today'|t }}</a>
    </div>
</div>