{#	This is an override of a form template #}
<div class="exposed-filter-form__container">
	<form{{ attributes }}>
		{{ children }}
	</form>

	<div class="reset-filters">
			<div class="we-are-sorry-span">
					<span class="we-are-sorry-span__text">
						<span><span class="we-are-sorry-span__text__text">{{"We’re sorry, but it seems that there are no case studies matching your search criteria at the moment. Please try again."|t }}</span><button class="we-are-sorry-button">Clear filter<img src="/resources/icons/x-clear-filter.svg"></button></span>
					</span>

			</div>
		<span class="reset-filters-button reset-filters-standalone-clear-filter-button"><span>{{ "Clear filter"|t }}</span><div class="clear-filter-icon clear-filter-icon-standalone"></div></span>
	</div>
</div>
