{#
/**
 * @file
 * Simple twig to render the content classification term.
 */
#}

<div class="content-classification-label">
  <p class="{{ elementClass }}">
    {{ renderedTerm.name }}
  </p>
</div>
