<div class="coh-container ssa-component coh-component ssa-component-instance-32e1b064-0856-4f6a-859e-6ee4ef2caa94 coh-component-instance-32e1b064-0856-4f6a-859e-6ee4ef2caa94">
	<div class="coh-row coh-row-xl coh-row-visible-xl" data-coh-row-match-heights="{&quot;xl&quot;:{&quot;target&quot;:&quot;none&quot;}}" data-once="coh-row-match-heights-init">
		<div class="coh-row-inner main-info-wrap">
			<div class="coh-column sidebar-block product-overview-left-sidebar coh-visible-xl coh-col-xl-3">
				<h6 class="coh-inline-element">
					<a href="/getting-started" class="coh-link" target="_self">Overview</a>
				</h6>
				<span class="coh-inline-element products-listing-sidebar links-listing-block">
					<h4 class="coh-heading">Terminals</h4>
					<div class="coh-block">
						<div class="views-element-container contextual-region" id="block-views-block-planet-products-block-1">

							<div data-contextual-id="block:block=views_block__planet_products_block_1:langcode=en|entity.view.edit_form:view=planet_products:location=block&amp;name=planet_products&amp;display_id=block_1&amp;langcode=en" data-contextual-token="uCpl4lAPfh1cpnATQ_ZLR2qIbyuXGs-Iur87PgoatlA" data-drupal-ajax-container="" data-once="contextual-render" class="contextual">
								<button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>
								<ul class="contextual-links" hidden="">
									<li class="block-configure">
										<a href="/admin/structure/block/manage/views_block__planet_products_block_1?destination=/node/3791">Configure block</a>
									</li>
									<li class="block-remove">
										<a href="/admin/structure/block/manage/views_block__planet_products_block_1/delete?destination=/node/3791">Remove block</a>
									</li>
									<li class="entity-clonecontextual-linksblockclone-tab">
										<a href="/entity_clone/block/views_block__planet_products_block_1?destination=/node/3791">Clone</a>
									</li>
									<li class="entityviewedit-form">
										<a href="/admin/structure/views/view/planet_products/edit/block_1?destination=/node/3791">Edit view</a>
									</li>
									<li class="config-translationcontextual-linksentityblockconfig-translation-overview">
										<a href="/admin/structure/block/manage/views_block__planet_products_block_1/translate?destination=/node/3791">Translate block</a>
									</li>
									<li class="config-translationcontextual-linksentityviewconfig-translation-overview">
										<a href="/admin/structure/views/view/planet_products/translate?destination=/node/3791">Translate view</a>
									</li>
									<li class="ccos">
										<a href="/ccos/single/block/views_block__planet_products_block_1/clear?destination=/contextual/render&amp;token=epW8-0gkcZECDN9cgts4mlRVkeRTrspjkRDXngttJLQ&amp;destination=/node/3791">Clear cache</a>
									</li>
								</ul>
							</div>
							<div>
								<div class="contextual-region js-view-dom-id-d17c3067316c26b57d7070e61697a3e013145319f5f7eb002bc27903e0b2d28f">


									<div data-contextual-id="entity.view.edit_form:view=planet_products:location=block&amp;name=planet_products&amp;display_id=block_1&amp;langcode=en" data-contextual-token="444CWKaar3L4140itYuNonE_HiKdkFFQgmxDnBR1beU" data-drupal-ajax-container="" data-once="contextual-render" class="contextual">
										<button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>
										<ul class="contextual-links" hidden="">
											<li class="entityviewedit-form">
												<a href="/admin/structure/views/view/planet_products/edit/block_1?destination=/node/3791">Edit view</a>
											</li>
											<li class="config-translationcontextual-linksentityviewconfig-translation-overview">
												<a href="/admin/structure/views/view/planet_products/translate?destination=/node/3791">Translate view</a>
											</li>
											<li class="ccos">
												<a href="/ccos/single/view/planet_products/clear?destination=/contextual/render&amp;token=VpK4jBhne2eDvqclE_n8IMK1sJgjQJUPquoyCSSBjSI&amp;destination=/node/3791">Clear cache</a>
											</li>
										</ul>
									</div>


									<div class="item-list-products">

										<ul>

											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pay-your-currency-dcc" hreflang="en">Pay in Your Currency (DCC)</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-a920-terminal-0" hreflang="en">PAX A920 Terminal</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-a920-pro-terminal-1" hreflang="en">PAX A920 PRO Terminal</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-a30-terminal" hreflang="en">PAX A30 Terminal</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-a77-terminal" hreflang="en">PAX A77 Terminal</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-a80-terminal" hreflang="en">PAX A80 Terminal</a>
													</span>
												</div>
											</li>
											<li>
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/pax-im30-terminal" hreflang="en">PAX IM30 Terminal</a>
													</span>
												</div>
											</li>
											<li style="display: none;" class="toggleable">
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/ingenico-move-5000-terminal" hreflang="en">Ingenico Move 5000 Terminal</a>
													</span>
												</div>
											</li>
											<li style="display: none;" class="toggleable">
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/ingenico-desk-5000-terminal" hreflang="en">Ingenico Desk 5000 Terminal</a>
													</span>
												</div>
											</li>
											<li style="display: none;" class="toggleable">
												<div class="views-field views-field-title">
													<span class="field-content">
														<a href="/getting-started/wordline-valina-terminal" hreflang="en">Wordline Valina Terminal</a>
													</span>
												</div>
											</li>

											<li class="toggle-more more"><img src="/modules/custom/planet_sitestudio_custom_elements/images/arrow-down.png"><span>See more</span>
											</li>
										</ul>

									</div>


								</div>
							</div>

						</div>
					</div>
					<div class="coh-wysiwyg">
						<div class="dark-theme" style="background: #000;
							  padding: 15px 15px;
							  margin-top: 30px;
							  border-radius: 8px;"><img alt="" src="/modules/custom/planet_sitestudio_custom_elements/images/Icons.png"><h3 style="font-size: 24px;
							  color: #fff;
							  font-weight: 600;
							  margin-top: 5px;">Need Help?</h3>
							<p style="font-size: 16px;
								  font-weight: 300;
								  color: #fff;
								  margin: 12px 0 20px 0;">Contact your planet support team</p>
							<a href="/support" style="display: inline-flex;
								  font-size: 16px;
								  font-weight: 600;
								  color: #fff;">Contact Us
								<img alt="" src="/modules/custom/planet_sitestudio_custom_elements/images/arrow-right.png" style="margin-left: 20px;"></a>
						</div>
						<div class="light-theme" style="background: #fff; border: 1px solid #ddd;
							  padding: 15px 15px;
							  border-radius: 8px;"><img alt="" src="/modules/custom/planet_sitestudio_custom_elements/images/Vector-bulb.png"><h3 style="font-size: 24px;
							  font-weight: 600;
							  margin-top: 5px;">Customer Resources Library</h3>
							<p style="font-size: 16px;
								  font-weight: 300;
								  margin: 12px 0 20px 0;">Can’t you find the info you need? Let’s check our comprehensive library of guides, eLearning and useful links</p>
							<a href="/customer-resources-library" style="display: inline-flex;
								  font-size: 16px;
								color: black;
								  font-weight: 600;">View customer resouces</a>
						</div>
					</div>
				</span>
			</div>
			<div class="coh-column coh-col-xl coh-col-xl-push-0 coh-col-xl-pull-0 coh-col-xl-offset-0">
				<div class="coh-inline-element">
					<div class="coh-wysiwyg">
						<p>
							<span class="coh-style-heading-2-planet">Get Started with Planet: explore, learn and get support!</span>
						</p>
						<p>
							<span class="coh-style--body-regular---tt-commons-planet" style="line-height: 1.5">Welcome to our one-stop destination for all things related to our products. Here, you'll find comprehensive information about our wide range of products, along with installation instructions and learning paths to help you make the most of our offerings.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{dump()}}
