{#
Custom Twig template for the "PMS Transformation" page.
Template variables available:
  - content: An array of content elements.
  - node: The node entity representing the "Author" content.
  - label: The node label.
  - url: The node URL.
  - attributes: HTML attributes for the node wrapper.
#}
<div>
    <div class="plnt-pms-transformation-page dark-menu-items">
        <div class="lavender-bg">
            <div class="coh-container coh-container-boxed lavender-bg">
                <div class="coh-row">
                    <div class="coh-row-inner">
                        <div
                                class="pms-transformation-lang-selector coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
                            <div class="pms-transformation-lang-selector-inner">
                                <a href="/pms-transformation">EN</a>
                                <a class="active" href="/fr/pms-transformation">FR</a>
                                <a href="/de/pms-transformation">DE</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="coh-row">
                    <div class="coh-row-inner">
                        <div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
                            <div class="lavender-bg-wrapper">
                                <span class="pre-heading">Transformation PMS Hôtellerie</span>
                                <h2 class="coh-heading coh-style-heading-2-planet">La prochaine étape de votre partenariat avec Planet</h2>
                                <p>
                                    Chez Planet, nous simplifions la façon dont vous travaillez avec nous. Nous avons investi dans nos plateformes PMS en concentrant nos priorités sur les domaines qui vous apportent le plus de valeur, notamment la stabilité et la performance.
                                    <br>
                                    <br>
                                    Nous passons à un modèle d'abonnement par chambre et par mois afin de rationaliser notre tarification. Cela nous permet de continuer à investir et à améliorer nos plateformes PMS On Premise et Cloud pour l'avenir. Nous nous engageons à développer un PMS Cloud performant qui réponde à vos exigences. Nous nous engageons également à maintenir nos solutions PMS Protel et Hotsoft à jour et à les faire fonctionner efficacement.
                                </p>
                                <div>
                                    <a class="coh-link coh-style-primary-dark-atom-" href="#form-50-50" id="get-in-touch-button">Prendre contact</a>
                                    {# <a class="coh-link coh-style-secondary-outlined-atom- " href="#faqs" style="padding-right: 32px;padding-left: 32px;margin-left: 16px;">FAQs</a> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pms-rounded-white"></div>
    </div>
    <div class="cloud-vision-wrapper">
        <div class="cloud-vision-wrapper-text">
            <div class="cloud-vision-wrapper-text-headings">
                <div class="heading">Vision Cloud</div>
                <div class="subheading">Optimisez votre quotidien, économisez de l'argent et du temps grâce à notre technologie "cloud native".</div>
            </div>
            <div class="cloud-vision-text-content-wrapper">
                <div class="cloud-vision-text-content" id="cloud-vision-text-content-hotels">
                    <div class="cloud-vision-text-content-icon"><img src="/resources/icons/Icon=Hotel%20copy-01,%20Background=Light.svg"></div>
                    <div class="cloud-vision-text-content-title">Plus de 2 000 hôtels utilisent notre PMS cloud</div>
                    <div class="cloud-vision-text-content-body">
                        Plus de 2 000 hôtels utilisent aujourd'hui notre solution PMS cloud, mais nous comprenons que les entreprises hôtelières ont des besoins uniques. Au cours des prochaines années, nous continuerons à investir et à innover dans notre plateforme cloud afin de nous assurer qu'elle réponde à toutes les exigences d'un PMS de premier plan.
                    </div>
                </div>
                <div class="cloud-vision-text-content">
                    <div class="cloud-vision-text-content-icon"><img src="/resources/icons/Icon=Cloud-01,%20Background=Light.svg"></div>
                    <div class="cloud-vision-text-content-title">Migration vers le cloud</div>
                    <div class="cloud-vision-text-content-body">
                        Nous pensons que la migration de nos clients on-premise vers une solution cloud avec un logiciel évolutif, sûr et automatiquement à jour, leur permettra de se concentrer davantage sur l'amélioration de l'expérience client. Cependant, nos solutions Protel et Hotsoft on premise ne disparaîtront pas. Et nous nous engageons à maintenir tous nos clients on premise stables, conformes et à jour jusqu'à ce qu'ils soient prêts à migrer.
                    </div>
                </div>
            </div>
        </div>
        <div class="cloud-vision-wrapper-image hide-on-desktop-and-tablet">
            <img id="cloud-vision-image" src="/resources/images/Cloudvision_Mobile.svg" alt="People approaching reception desk">
        </div>
        <div class="cloud-vision-wrapper-image hide-on-small-screens">
            <img id="cloud-vision-image" src="/resources/images/Cloudvision_DesktopTablet.svg" alt="People approaching reception desk">
        </div>
    </div>
    <div class="full-service-wrapper">
        <div class="heading">La solution complète de Planet comprend</div>
        <div class="full-service-wrapper-benefit-cards">
            <!-- Card 1 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="cpu-icon"><img src="/resources/icons/Icon=Embedded,%20Background=Light.svg" alt="A CPU icon"></div>
                <h5 class="full-service-title">Automatisation des paiements</h5>
                <p class="full-service-text">Notre PMS offre l’automatisation des paiements la plus fluide du secteur, une exclusivité de Planet grâce à notre propre solution de paiement full stack.</p>
            </div>
            <!-- Card 2 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="network-icon"><img src="/resources/icons/Icon=Connect,%20Background=Light.svg" alt="Networks nodes connected"></div>
                <h5 class="full-service-title">Préférences des clients</h5>
                <p class="full-service-text">Offrez à vos clients la liberté de payer comme ils le souhaitent, tout en renforçant leur fidélité et leur engagement en allégeant la charge des tâches manuelles pour vos équipes hôtelières.</p>
            </div>
            <!-- Card 3 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="dollar-icon"><img src="/resources/icons/Icon=Dollar-01,%20Background=Light.svg" alt="A dollar sign icon"></div>
                <h5 class="full-service-title">Commerce connecté</h5>
                <p class="full-service-text">Un partenaire technologique unique pour le PMS et les paiements permet d’éliminer les coûts liés aux solutions distinctes et aide votre personnel à gagner du temps en réduisant les processus manuels, pour un travail plus efficace.</p>
            </div>
            <!-- Card 4 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="bulb-icon"><img src="/resources/icons/Icon=Tips-01,%20Background=Light.svg" alt="An icon depicting a bulb"></div>
                <h5 class="full-service-title">Génération de revenus</h5>
                <p class="full-service-text">Profitez de nouvelles sources de revenus grâce à la conversion dynamique des devises (DCC) et à la tarification multidevise (MCP) pour les hôtels.</p>
            </div>
            <!-- Card 5 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="circular-arrows-icon"><img src="/resources/icons/Icon=Sync-01,%20Background=Light.svg" alt="Circular arrows icon"></div>
                <h5 class="full-service-title" id="full-service-title-autoupdate-software">Technologie cloud</h5>
                <p class="full-service-text">Le Cloud offre aux hôtels une sécurité renforcée, une meilleure évolutivité et une réduction des coûts de possession, sans besoin de matériel sur site, de gestion de centre de données ou de mises à jour logicielles. Planet s’occupe de tout pour vous.</p>
            </div>
            <!-- Card 6 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="key-icon"><img src="/resources/icons/Icon=Access,%20Background=Light.svg" alt="An icon showing a key"></div>
                <h5 class="full-service-title">Accès à plus de 1000 partenaires</h5>
                <p class="full-service-text">Choisissez parmi les meilleures applications et intégrations du secteur de l’hôtellerie. Grâce à notre API ouverte, il est beaucoup plus simple d’implémenter des solutions innovantes et de tirer parti des nouvelles opportunités, comme l’IA, pour optimiser vos opérations hôtelières et accroître vos revenus.</p>
            </div>
        </div>
    </div>

    <div class="simple-predictable-costs">
        {# <div class="layout-canvas"> #}
        <div class="flex flex-col lg:flex-row lg:flex-row lg:justify-center pt-[153px] max-w-[1280px] mx-4 md:mx-8 xl:mx-auto gap-8">
            <div class="mb-4 lg:w-[656px]">
                <label class="pms-transformation__label text-[14px] font-semibold leading-[18px] uppercase pl-4 border-l-4 border-[#E00083] pl-4 border-solid h-6 mb-4">Transformation PMS</label>
                <h2 class="text-[#202020] text-[48px] font-semibold leading-[60px]">Des coûts simples et prévisibles chaque mois</h2>
                <div>{{ node.field_webform_text.value|raw }}</div>
            </div>
            {{ form }}
            {# </div> #}
            {# {{ content.field_layout_canvas }} #}
        </div>
    </div>
</div>
</div>

<style>
  .form-desc-text--left p {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 24px;
  }

  .form-desc-text--left p:is(:last-of-type) {
    margin-bottom: 0;
  }

  .pre-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 8px
  }

  .webform-submission-form {
    border-radius: 16px;
  }

  .webform-submission-form .js-form-type-checkbox {
    display: flex;
    flex-direction: row;
  }

  .webform-submission-form .js-form-type-checkbox input#edit-single-opt-in:before {
    display: none;
  }

  .webform-submission-form .js-form-type-checkbox input#edit-single-opt-in {
    margin-right: 24px;
  }

  .webform-submission-form input#edit-actions-submit {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    border-radius: 56px;
    background-color: #202020;
    font-weight: 700;
    line-height: 20px;
  }

  .webform-submission-form input#edit-actions-submit:hover {
    background-color: rgb(224, 0, 130);
    transition: all 0.3s;
  }

  .webform-submission-form #edit-single-opt-in--description {
    margin-left: 0;
  }

  .webform-submission-form {
    background-color: white;
  }

  @media screen and (min-width: 1025px) {
    .simple-predictable-costs > div {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .webform-submission-form {
      max-width: 480px;
      padding: 24px;
      box-sizing: content-box;
    }

    .form-item-first-name {
      margin-right: 16px;
    }

    .form-item-first-name, .form-item-last-name {
      display: inline-block;
      box-sizing: content-box;
    }

    .webform-flex--container {
      margin: 0;
    }

    .webform-flexbox {
      margin: 0;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
      width: 212px;
      box-sizing: content-box;
      height: 24px;
    }
  }

  @media screen and (max-width: 1024px) {
    .simple-predictable-costs > div {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
      box-sizing: content-box;
      height: 24px;
    }

    .form-item-first-name, .form-item-last-name {
      width: 46%;
      display: inline-block;
      box-sizing: border-box;
    }

    .form-item-first-name {
      margin-right: 5.2%;
    }
  }

  @media screen and (max-width: 768px) {
    .simple-predictable-costs > div {
      padding-top: 32px;
      padding-bottom: 32px;
      padding-right: 16px;
    }

    .form-item-first-name, .form-item-last-name {
      box-sizing: content-box;
      width: 100%;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
      box-sizing: border-box;
      height: 38px;
      margin-right: 16px;
    }
  }

  .lavender-bg p {
    color: #202020;
    font-weight: 300;
    text-align: center;
    line-height: 140%;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 32px
  }
</style>
