{#
Custom Twig template for the "PMS Transformation" page.
Template variables available:
  - content: An array of content elements.
  - node: The node entity representing the "Author" content.
  - label: The node label.
  - url: The node URL.
  - attributes: HTML attributes for the node wrapper.
#}
<div>
    <div class="plnt-pms-transformation-page dark-menu-items">
        <div class="lavender-bg">
            <div class="coh-container coh-container-boxed lavender-bg">
                <div class="coh-row">
                    <div class="coh-row-inner">
                        <div class="pms-transformation-lang-selector coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
                            <div class="pms-transformation-lang-selector-inner">
                                <a class="active"
                                   href="/pms-transformation">EN</a>
                                <a href="/fr/pms-transformation">FR</a>
                                <a href="/de/pms-transformation">DE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="coh-row">
                    <div class="coh-row-inner">
                        <div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
                            <div class="lavender-bg-wrapper">
                                <span class="pre-heading">HOSPITALITY PMS TRANSFORMATION</span>
                                <h2 class="coh-heading coh-style-heading-2-planet">
                                    The next step in your partnership with
                                    Planet</h2>
                                <p>
                                    At Planet, we're simplifying how you do
                                    business with us. We've invested in our PMS
                                    platforms focusing
                                    our priorities on the areas that deliver
                                    most value to you, including stability and
                                    performance.
                                    <br>
                                    <br>
                                    We're transitioning to a per room, per month
                                    subscription model to streamline our
                                    pricing.
                                    This allows us to continue investing and
                                    enhancing both our On Premise and Cloud PMS
                                    platforms for the future.
                                    We are committed to developing a top-notch
                                    Cloud PMS that meets your requirements. As
                                    well as keeping our Protel and Hotsoft on
                                    premise PMS solutions totally up-to-date and
                                    working efficiently.
                                </p>
                                <div>
                                    <a class="coh-link coh-style-primary-dark-atom-"
                                       href="#form-50-50"
                                       id="get-in-touch-button">Get in touch</a>
{#                                    <a class="coh-link coh-style-secondary-outlined-atom- "#}
{#                                       href="#faqs"#}
{#                                       style="padding-right: 32px;padding-left: 32px;margin-left: 16px;">FAQs</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pms-rounded-white"></div>
    </div>
    <div class="cloud-vision-wrapper">
        <div class="cloud-vision-wrapper-text">
            <div class="cloud-vision-wrapper-text-headings">
                <div class="heading">Cloud vision</div>
                <div class="subheading">Optimise the day-to-day, save money and
                    time with our cloud native technology
                </div>
            </div>
            <div class="cloud-vision-text-content-wrapper">
                <div class="cloud-vision-text-content"
                     id="cloud-vision-text-content-hotels">
                    <div class="cloud-vision-text-content-icon"><img
                                src="/resources/icons/Icon=Hotel%20copy-01,%20Background=Light.svg">
                    </div>
                    <div class="cloud-vision-text-content-title">2000+ hotels
                        use our cloud PMS
                    </div>
                    <div class="cloud-vision-text-content-body">
                        More than 2000 hotels today use our cloud PMS solution,
                        but we understand hotel businesses have unique
                        needs.<br>Over the next couple of years, we’ll continue
                        to invest and innovate our cloud platform to ensure
                        it meets all the requirements of a top-tier PMS.
                    </div>
                </div>
                <div class="cloud-vision-text-content">
                    <div class="cloud-vision-text-content-icon"><img
                                src="/resources/icons/Icon=Cloud-01,%20Background=Light.svg">
                    </div>
                    <div class="cloud-vision-text-content-title">Cloud
                        migration
                    </div>
                    <div class="cloud-vision-text-content-body">
                        We believe that migrating our on-premise customers to a
                        cloud solution ensures scalable, safe and auto
                        updated software - so they can spend more time focusing
                        on delivering better guest experience.
                        However, our Protel and Hotsoft on premise solutions are
                        not going anywhere. And we are committed to keeping all
                        our on premise customers steady, compliant and
                        up-to-date until they are ready to migrate.
                    </div>
                </div>
            </div>
        </div>
        <div class="cloud-vision-wrapper-image hide-on-desktop-and-tablet">
            <img id="cloud-vision-image"
                 src="/resources/images/Cloudvision_Mobile.svg"
                 alt="People approaching reception desk">
        </div>
        <div class="cloud-vision-wrapper-image hide-on-small-screens">
            <img id="cloud-vision-image"
                 src="/resources/images/Cloudvision_DesktopTablet.svg"
                 alt="People approaching reception desk">
        </div>
    </div>
    <div class="full-service-wrapper">
        <div class="heading">A full service from Planet includes</div>
        <div
                class="full-service-wrapper-benefit-cards">
            <!-- Card 1 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="cpu-icon"><img
                            src="/resources/icons/Icon=Embedded,%20Background=Light.svg"
                            alt="A CPU icon"></div>
                <h5 class="full-service-title">Payment automation</h5>
                <p class="full-service-text">Our PMS has the most seamless
                    payment automation in the
                    industry, something unique to Planet because we have our own
                    full stack payment solution
                    in-house.</p>
            </div>
            <!-- Card 2 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="network-icon"><img
                            src="/resources/icons/Icon=Connect,%20Background=Light.svg"
                            alt="Networks nodes connected"></div>
                <h5 class="full-service-title">Guest preference</h5>
                <p class="full-service-text">Allow guests to pay however they
                    like while you can build loyalty and
                    drive engagement by removing the burden of manual tasks for
                    hotel teams.</p>
            </div>
            <!-- Card 3 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="dollar-icon"><img
                            src="/resources/icons/Icon=Dollar-01,%20Background=Light.svg"
                            alt="A dollar sign icon"></div>
                <h5 class="full-service-title">Connected commerce</h5>
                <p class="full-service-text">A single technology partner for PMS
                    and Payments eliminates the
                    cost of separate solutions and helps your staff save time
                    with less manual processes to
                    do, so they work more efficiently.</p>
            </div>
            <!-- Card 4 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="bulb-icon"><img
                            src="/resources/icons/Icon=Tips-01,%20Background=Light.svg"
                            alt="An icon depicting a bulb"></div>
                <h5 class="full-service-title">Revenue generation</h5>
                <p class="full-service-text">Take advantage of new revenue
                    streams with Dynamic Currency
                    Conversion (DCC) and Multi-Currency Pricing (MCP) for
                    hotels.</p>
            </div>
            <!-- Card 5 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="circular-arrows-icon">
                    <img src="/resources/icons/Icon=Sync-01,%20Background=Light.svg"
                         alt="Circular arrows icon"></div>
                <h5 class="full-service-title"
                    id="full-service-title-autoupdate-software">Cloud
                    technology</h5>
                <p class="full-service-text">The Cloud offers hotels more robust
                    security, scalability and lower
                    costs of ownership as there is no need for hardware on site
                    or data centre management or
                    software updates. That can all be done for you by
                    Planet.</p>
            </div>
            <!-- Card 6 -->
            <div class="full-service-benefit-card">
                <div class="full-service-card-icon" id="key-icon"><img
                            src="/resources/icons/Icon=Access,%20Background=Light.svg"
                            alt="An icon showing a key"></div>
                <h5 class="full-service-title">Access to 1000+ marketplace
                    partners</h5>
                <p class="full-service-text">Choose from the best apps and
                    integrations the
                    hospitality industry has to offer and with our Open API it
                    is a lot easier for you to implement
                    innovative solutions and capitalize on emerging
                    opportunities like AI to enhance your hotel
                    operations and grow revenue.</p>
            </div>
        </div>
    </div>

    <div class="simple-predictable-costs">

        {#            <div class="layout-canvas"> #}
        <div class="flex flex-col lg:flex-row lg:flex-row lg:justify-center pt-[153px] max-w-[1280px] mx-4 md:mx-8 xl:mx-auto gap-8">
            <div class="mb-4 lg:w-[656px]">
                <label class="pms-transformation__label text-[14px] font-semibold leading-[18px] uppercase pl-4 border-l-4 border-[#E00083] pl-4 border-solid h-6 mb-4">PMS
                    TRANSFORMATION</label>
                <h2 class="text-[#202020] text-[48px] font-semibold leading-[60px]">
                    Simple, predictable costs every month</h2>
                <div>{{ node.field_webform_text.value|raw }}</div>
            </div>
            {{ form }}
            {#                </div> #}
            {#                {{ content.field_layout_canvas }} #}
        </div>
    </div>
</div></div>
<style>
  .form-desc-text--left p {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 24px;
  }

  .form-desc-text--left p:is(:last-of-type) {
    margin-bottom: 0;
  }

  .pre-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 8px
  }

  .webform-submission-form {
    border-radius: 16px;
  }

  .webform-submission-form .js-form-type-checkbox {
    display: flex;
    flex-direction: row;
  }

  .webform-submission-form .js-form-type-checkbox input#edit-single-opt-in:before {
    display: none;
  }

  .webform-submission-form .js-form-type-checkbox input#edit-single-opt-in {
    margin-right: 24px;
  }

  .webform-submission-form input#edit-actions-submit {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    border-radius: 56px;
    background-color: #202020;
    font-weight: 700;
    line-height: 20px;
  }

  .webform-submission-form input#edit-actions-submit:hover {
    background-color: rgb(224, 0, 130);
    transition: all 0.3s;
  }

  .webform-submission-form #edit-single-opt-in--description {
    margin-left: 0;
  }

  .webform-submission-form {
    background-color: white;
  }


  @media screen  and (min-width: 1025px) {
    .simple-predictable-costs > div {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .webform-submission-form {
      max-width: 480px;
      padding: 24px;
      box-sizing: content-box;
    }

    .form-item-first-name {
      margin-right: 16px;
    }

    .form-item-first-name, .form-item-last-name {
      display: inline-block;
      box-sizing: content-box;
    }

    .webform-flex--container {
      margin: 0;
    }

    .webform-flexbox {
      margin: 0;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
      width: 212px;
      box-sizing: content-box;
      height: 24px;
    }

  }

  @media screen and (max-width: 1024px) {
    .simple-predictable-costs > div {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
      box-sizing: content-box;
      height: 24px;
    }

    .form-item-first-name, .form-item-last-name {
      width: 46%;
      display: inline-block;
      box-sizing: border-box;
    }


    .form-item-first-name {
      margin-right: 5.2%;
    }
  }

  @media screen and (max-width: 768px) {
    .simple-predictable-costs > div {
      padding-top: 32px;
      padding-bottom: 32px;
      padding-right: 16px;
    }

    .form-item-first-name, .form-item-last-name {
      box-sizing: content-box;
      width: 100%;
    }

    .form-item-first-name input, .form-item-last-name input {
      padding: 8px;
       box-sizing: border-box;
      height: 38px;
      margin-right: 16px;
    }

  }

  .lavender-bg p {
    color: #202020;
    font-weight: 300;
    text-align: center;
    line-height: 140%;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 32px
  }
</style>
