<div class="onboarding-main-page">
	<div class="hero-text">
		<div class="coh-container coh-container-boxed">
			<div class="coh-row">
				<div class="coh-row-inner">
					<div class="coh-column">
						<h1 class="heading-main">Welcome to
							<span class="pink-text">Planet</span>
							customer resources</h1>
						<p>At Planet, we are committed to providing you with exceptional support, valuable resources, and comprehensive product information to ensure a seamless experience from day one.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ellipse-bg">
		<div class="ellipse-wrapper">
			<div class="coh-container coh-container-boxed">
				<div class="coh-row">
					<div class="coh-row-inner">
						<div class="coh-column coh-visible-xs coh-col-xs-12 coh-visible-sm coh-col-sm-12 coh-visible-md coh-col-md-4 coh-visible-lg coh-col-lg-4 coh-visible-xl coh-col-xl-4">
							<a class="planet-white-card" href="/getting-started">
								<div class="c-icon"><img src="/resources/icons/bulb.svg"></div>
								<h2 class="white-card-title">Get started with Planet products</h2>
								<p>Explore all the information to start using our products.</p>
								<div class="cta-button">
									<img src="/resources/icons/card-arrow-right.svg" alt="click"/>
								</div>
							</a>
						</div>
						<div class="coh-column coh-visible-xs coh-col-xs-12 coh-visible-sm coh-col-sm-12 coh-visible-md coh-col-md-4 coh-visible-lg coh-col-lg-4 coh-visible-xl coh-col-xl-4">
							<a class="planet-white-card" href="/customer-resources-library">
								<div class="c-icon"><img src="/resources/icons/gear.svg"></div>
								<h2 class="white-card-title">Access our customer resources library</h2>
								<p>Access customer resources for all products.</p>
								<div class="cta-button">
									<img src="/resources/icons/card-arrow-right.svg" alt="click"/>
								</div>
							</a>
						</div>
						<div class="coh-column coh-visible-xs coh-col-xs-12 coh-visible-sm coh-col-sm-12 coh-visible-md coh-col-md-4 coh-visible-lg coh-col-lg-4 coh-visible-xl coh-col-xl-4">
							<a class="planet-white-card" href="/support">
								<div class="c-icon"><img src="/resources/icons/support.svg"></div>
								<h2 class="white-card-title">Need help? Get support</h2>
								<p>Contact our Planet support team</p>
								<div class="cta-button">
									<img src="/resources/icons/card-arrow-right.svg" alt="click"/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="coh-row">
					<div class="coh-row-inner">
						<a class="visit-our-website" href="https://www.weareplanet.com">Visit our Planet website</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<style>
	html, body {background: #000}
	.ellipse-wrapper {
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100%;
		width: 100%
	}
	.planet-white-card p {
		font-size: 16px;
		font-weight: 300;
		line-height: 137.5%;
		color: #202020;
		margin-top: 8px
	}
	.planet-white-card {
		padding: 24px;
		background: white;
		border: 1px solid #d1d1d1;
		display: block;
		border-radius: 8px;
		transition: all 0.2s ease;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.white-card-title {
		font-size: 24px;
		font-weight: 600;
		line-height: 125%;
		color: #202020;
	}
	.onboarding-main-page {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		background: #fff;
		top: 0;
		left: 0
	}
	.hero-text {
		text-align: center;
		padding-bottom: 48px;
	}
	.onboarding-main-page .coh-row-inner {
		margin: 0 !important
	}
	.heading-main {
		font-family: 'TT Commons';
		font-style: normal;
		font-weight: 600;
		margin-bottom: 16px;
	}
	.hero-text,
	.ellipse-wrapper {
		max-width: 1024px;
		margin-right: auto;
		margin-left: auto;
	}
	.pink-text {
		color: #E00083
	}
	.hero-text p {
		color: #202020;
		font-weight: 300;
		text-align: center;
		line-height: 140%;

	}
	.c-icon {
		height: 48px;
		width: 48px;
		margin-bottom: 24px
	}
	.cta-button {
		margin-top: 16px;
		display: flex;
		justify-content: end;
	}
	.visit-our-website {
		color: white;
		text-decoration: underline;
		text-align: center;
		display: block;
		width: 100%;
		padding: 32px 0;
		font-size: 20px;
		margin-top: 32px;
		font-weight: 300;
	}
	@media(min-width: 1024px) {
		.heading-main {
			font-size: 48px;
			line-height: 60px;
		}
		.hero-text p {
			font-size: 20px;
		}
		.ellipse-bg {
			width: 100%;
			background-repeat: no-repeat;
			background-position: center 50px;
			background-size: cover;
			height: 60%;
			background-image: url('/resources/icons/ellipse.svg')
		}
		.hero-text {
			text-align: center;
			height: 40%;
			display: flex;
    		align-items: end;
		}
		.planet-white-card {
			height: 100%;
		}
		.onboarding-main-page {
			background-position: center 125%;
			position: absolute;
			width: 100%;
			position: absolute;
			height: 100%;
		}
			.planet-white-card:hover {
			box-shadow: 0 6px 20px 0 rgba(34, 34, 34, 0.16)
		}
	}
	@media(max-width: 1023px) {
		.heading-main {font-size: 32px;}
		.onboarding-main-page {
			padding-top: 48px;
			background-image: none;
		}
		.ellipse-wrapper {
			background-image: url('/resources/icons/ellipse-mobile.svg');
			background-position: top center;
		}
		.planet-white-card {
			margin-bottom: 16px
		}
	}
	@media (max-width: 384px) {
		.ellipse-wrapper {
			background-position: bottom;
		}
		.hero-text p {font-size: 14px;}
		.hero-text {padding-bottom: 24px}
		.heading-main {line-height: 125%}

	}
</style>

