{#
Custom Twig template for the "PMS Transformation" page.
Template variables available:
  - content: An array of content elements.
  - node: The node entity representing the "Author" content.
  - label: The node label.
  - url: The node URL.
  - attributes: HTML attributes for the node wrapper.
#}
<div>
  <div class="plnt-pms-transformation-page">
    <div class="lavender-bg">
      <div class="coh-container coh-container-boxed lavender-bg">
        <div class="coh-row">
          <div class="coh-row-inner">
            <div
              class="pms-transformation-lang-selector coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
              <div class="pms-transformation-lang-selector-inner">
                <a class="active" href="/pms-transformation">EN</a>
                <a href="/fr/pms-transformation">FR</a>
                <a href="/de/pms-transformation">DE</a>
              </div>
            </div>
          </div>
        </div>

        <div class="coh-row">
          <div class="coh-row-inner">
            <div class="coh-column coh-visible-sm coh-col-sm-12 coh-visible-xl coh-col-xl-12">
              <div class="lavender-bg-wrapper">
                <span class="pre-heading">HOSPITALITY PMS TRANSFORMATION 2024</span>
                <h2 class="coh-heading coh-style-heading-2-planet">The next step in your partnership with Planet</h2>
                <p>
                  At Planet, we're simplifying how you do business with us. We've invested in our PMS platforms focusing
                  our priorities on the areas that deliver most value to you, including stability and performance.
                  <br>
                  <br>
                  In 2024, we're transitioning to a per room, per month subscription model to streamline our pricing.
                  This allows us to enhance our PMS platforms further and invest in cloud development, ensuring we have
                  a top-notch Cloud PMS that meets your requirements.
                </p>
                <a class="coh-link coh-style-primary-dark-atom-" href="#form-50-50">Get in touch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pms-rounded-lavender-box">
      <div class="pms-rounded-white"></div>
    </div>
    <div class="cloud-vision-wrapper">
      <div class="cloud-vision-wrapper-text">
        <div class="cloud-vision-wrapper-text-headings">
          <div class="heading">Cloud vision</div>
          <div class="subheading">Optimise the day-to-day, save money and time with our cloud native technology</div>
        </div>
        <div class="cloud-vision-text-content-wrapper">
          <div class="cloud-vision-text-content" id="cloud-vision-text-content-hotels">
            <div class="cloud-vision-text-content-icon"><img src="/sites/default/files/2024-02/Icon=Hotel%20copy-01,%20Background=Light.svg"></div>
            <div class="cloud-vision-text-content-title">2000+ hotels use our cloud PMS</div>
            <div class="cloud-vision-text-content-body">
              More than 2000 hotels today use our cloud PMS solution, but we understand hotel businesses have unique
              needs. Over the next couple of years, we’ll continue to invest and innovate our cloud platform to ensure
              it meets all the requirements of a top-tier PMS.
            </div>
          </div>
          <div class="cloud-vision-text-content">
            <div class="cloud-vision-text-content-icon"><img src="/sites/default/files/2024-02/Icon=Cloud-01,%20Background=Light.svg"></div>
            <div class="cloud-vision-text-content-title">Cloud migration</div>
            <div class="cloud-vision-text-content-body">
              We believe that migrating our on-premise customers to a cloud solution ensures scalable, safe and auto
              updated software - so they can spend more time focusing on delivering better guest experience.
            </div>
          </div>
        </div>
      </div>
      <div class="cloud-vision-wrapper-image">
        <img id="cloud-vision-image" src="/sites/default/files/2024-02/Cloudvision_DesktopTablet.svg"
             alt="People approaching reception desk">
      </div>
    </div>
    <div class="full-service-wrapper">
      <div class="heading">A full service from Planet includes</div>
      <div class="full-service-wrapper-benefit-cards">
        <!-- Card 1 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="cpu-icon"><img src="/sites/default/files/2024-02/Icon=Embedded,%20Background=Light.svg" alt="A CPU icon"></div>
          <h5 class="full-service-title">Payments embedded</h5>
          <p class="full-service-text">In a cloud future you'll have embedded payments, to guests pay how they like while you build loyalty and engagement.</p>
        </div>
        <!-- Card 2 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="network-icon"><img src="/sites/default/files/2024-02/Icon=Connect,%20Background=Light.svg" alt="Networks nodes connected"></div>
          <h5 class="full-service-title">Connected commerce</h5>
          <p class="full-service-text">A single technology partner for POS and payments eliminates the cost of separate solutions and helps you staff save time and work more efficiently.</p>
        </div>
        <!-- Card 3 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="dollar-icon"><img src="/sites/default/files/2024-02/Icon=Dollar-01,%20Background=Light.svg" alt="A dollar sign icon"></div>
          <h5 class="full-service-title">Revenue generation</h5>
          <p class="full-service-text">Take advantage of new revenue streams with Dynamic Currency Conversion (DCC) and Multi-Currency Pricing (MCP).</p>
        </div>
        <!-- Card 4 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="bulb-icon"><img src="/sites/default/files/2024-02/Icon=Tips-01,%20Background=Light.svg" alt="An icon depicting a bulb"></div>
          <h5 class="full-service-title">Data-driven software</h5>
          <p class="full-service-text">Helping you create an enhanced guest experience, and use the insights needed to evaluate and grow your business.</p>
        </div>
        <!-- Card 5 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="circular-arrows-icon"><img src="/sites/default/files/2024-02/Icon=Sync-01,%20Background=Light.svg" alt="Circular arrows icon"></div>
          <h5 class="full-service-title" id="full-service-title-autoupdate-software">Auto-updated Software</h5>
          <p class="full-service-text">TFor effortless tech maintenance and reduced risk. We’ll involve you in Planet’s tech developments as we transform the role we can play in your operations. </p>
        </div>
        <!-- Card 6 -->
        <div class="full-service-benefit-card">
          <div class="full-service-card-icon" id="key-icon"><img src="/sites/default/files/2024-02/Icon=Access,%20Background=Light.svg" alt="An icon showing a key"></div>
          <h5 class="full-service-title">Access to 1000+ marketplace partners</h5>
          <p class="full-service-text">Choose from the best apps and integrations the hospitality industry has to offer, to enhance your hotel operation and grow revenue. </p>
        </div>
      </div>
    </div>
    {% if content.field_layout_canvas %}
      <div class="simple-predictable-costs">
        <div class="layout-canvas">
          {{ content.field_layout_canvas }}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<style>
  .lavender-bg {
    background: #e1e7fd;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center
  }
  .pre-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 8px
  }
  .lavender-bg .coh-style-primary-dark-atom- {
    padding-right: 48px;
    padding-left: 48px;
  }
  .lavender-bg p {
    color: #202020;
    font-weight: 300;
    text-align: center;
    line-height: 140%;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 32px
  }
  .lavender-bg-wrapper {
    max-width: 816px;
    margin: 0 auto
  }
  .pms-transformation-lang-selector-inner {
    margin-bottom: 48px;
    font-size: 20px;
    color: #545454;
    font-weight: 300;
  }
  .lavender-bg .coh-heading {
    line-height: 60px;
    font-size: 54px;
  }

  .pms-rounded-white {
    background: white;
    width: 100%;
    height: 200%;
    border-radius: 100%;
  }
</style>
