{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'right-side-mega-menu',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_title is not empty %}
      <div class="right-side-mega-menu__title coh-style-h300">{{ content.field_title }}</div>
    {% endif %}
    {% if content.field_description is not empty %}
      <div class="right-side-mega-menu__description coh-style-b100">{{ content.field_description }}</div>
    {% endif %}
    {% if content.field_link is not empty %}
      <div class="right-side-mega-menu__link coh-style-t100">{{ content.field_link }}</div>
    {% endif %}
  </div>
{% endblock paragraph %}
